<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <div class="g-body">
                <!--page start-->
                <div class="g-list">
                    <a href="{{dataInfo.routes.dev-globals.route}}" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">g-globals</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{dataInfo.routes.dev-components.route}}" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">g-components</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{dataInfo.routes.dev-words.route}}" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">标准词汇</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--page end-->
            </div>
            {{>phone/partials/footer}}
        </div>
    </body>
</html>
