<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <div class="audios-wrap g-audios-wrap _on">
                    <div class="_icon">
                        <div class="_item _item-on iconfont icon-sound"></div>
                        <div class="_item _item-off iconfont icon-sound-off"></div>
                    </div>
                </div>
                <div class="canvas-wrap"></div>
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
    </body>
</html>
