<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <div class="g-audio g-audio-on">
                    <div class="g-audio-icon">
                        <div class="g-audio-icon-item g-audio-icon-item-on iconfont icon-sound"></div>
                        <div class="g-audio-icon-item g-audio-icon-item-off iconfont icon-sound-off"></div>
                    </div>
                </div>
                <div class="canvas-wrap"></div>
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
