<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <div class="g-list">
                    <a href="<%= dataInfo.routes['game-biecaibaikuai'].route %>" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-game"></div>
                                <div class="g-list-text">别踩白块儿</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-more"></div>
                            </div>
                        </div>
                        <div class="g-list-info">简介：“今日的我，你爱踩不踩。明日的我，你高攀不起！”</div>
                    </a>
                </div>
                <div class="g-list">
                    <a href="" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-game"></div>
                                <div class="g-list-text">坦克大战</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-more"></div>
                            </div>
                        </div>
                        <div class="g-list-info">简介：“啾啾啾~”</div>
                    </a>
                </div>
                <div class="g-list">
                    <a href="" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-game"></div>
                                <div class="g-list-text">祖玛</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-more"></div>
                            </div>
                        </div>
                        <div class="g-list-info">简介：“什么鬼？”</div>
                    </a>
                </div>
                <div class="g-list">
                    <a href="" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-game"></div>
                                <div class="g-list-text">五子棋</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-more"></div>
                            </div>
                        </div>
                        <div class="g-list-info">简介：“自己玩自己？”</div>
                    </a>
                </div>
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
    </body>
</html>
