<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <!--page start-->
            <div class="g-body">
                <!--结构待续...-->
                <div class="page-tab">
                    <div class="page-tab-password">密码登录</div>
                    <div class="page-tab-verify">验证码登陆</div>
                </div>
                <div class="page-input-wrap">
                    <label class="g-input">
                        <span class="g-input-text">用户名:</span>
                        <input class="g-input-input g-validate-form"
                               data-validate="no-space no-zero yes-positive-integer"
                               data-hint="本项必填 本项不可为零 请输入正整数"
                               type="text" name="username" id="username" value="" placeholder="请输入账号">
                        <span class="g-input-hint">0/6</span>
                        <span class="g-input-hint iconfont icon-bitian"></span>
                    </label>
                </div>
                <div class="page-input-wrap">
                    <label class="g-input">
                        <span class="g-input-text">密码:</span>
                        <input class="g-input-input" type="password" name="password" id="password"
                               value="" placeholder="请输入密码">
                        <span class="g-input-icon iconfont icon-zhengyan"></span>
                        <span class="g-input-icon iconfont icon-qingkong"></span>
                        <span class="g-input-hint iconfont icon-bitian"></span>
                    </label>
                </div>
                <div class="g-button">
                    <div class="g-button-text">立即登陆</div>
                </div>
                <div class="page-guide-wrap">
                    <div class="page-guide-item">
                        <a href="{{dataInfo.routes.register.route}}">没有账号,去注册</a>
                        <span class="iconfont icon-youjiantou"></span>
                    </div>
                    <div class="page-guide-item">
                        <a href="{{dataInfo.routes.password-find.route}}">忘记密码,去找回</a>
                        <span class="iconfont icon-youjiantou"></span>
                    </div>
                </div>

                <div class="page-third-party">
                    第三方登陆
                </div>
            </div>
            <!--page end-->
            {{>phone/partials/footer}}
        </div>
    </body>
</html>
