<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <div class="g-list-wrap">
                    <a href="<%= dataInfo.routes['password-find'].route %>" class="g-list">
                        <div class="g-list-body">
                            <div class="g-list-body">
                                <div class="g-list-body-icon iconfont icon-dev"></div>
                                <div class="g-list-body-text">忘记密码,去找回</div>
                            </div>
                            <div class="g-list-body">
                                <div class="g-list-body-more iconfont icon-more"></div>
                            </div>
                        </div>
                    </a>
                    <a href="<%= dataInfo.routes['password-modify'].route %>" class="g-list">
                        <div class="g-list-body">
                            <div class="g-list-body">
                                <div class="g-list-body-icon iconfont icon-dev"></div>
                                <div class="g-list-body-text">更改密码,去修改</div>
                            </div>
                            <div class="g-list-body">
                                <div class="g-list-body-more iconfont icon-more"></div>
                            </div>
                        </div>
                    </a>
                    <div class="g-list page-logout">
                        <div class="g-list-body">
                            <div class="g-list-body">
                                <div class="g-list-body-icon iconfont icon-dev"></div>
                                <div class="g-list-body-text">退出账号,去确认</div>
                            </div>
                            <div class="g-list-body">
                                <div class="g-list-body-more iconfont icon-more"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
