<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <div class="g-body">
                <!--page start-->
                <div class="g-list">
                    <a href="{{dataInfo.routes.password-reset.route}}" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">修改密码,去重置</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{dataInfo.routes.password-find.route}}" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">忘记密码,去找回</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <div class="g-list-row page-logout">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">退出账号,去确认</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--page end-->
            </div>
            {{>phone/partials/footer}}
        </div>
    </body>
</html>
