@import "../config/config";

.m-footer-nav {
    $height: 44;
    width: inherit;
    height: px2rem($height);
    .m-footer-nav-wrap {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        bottom: 0;
        box-sizing: border-box;
        border-top: 1px solid $g-color-border-default;
        background: #fff;
        .m-footer-nav-body {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            height: 100%;
            color: $g-color-font-default;
            .m-footer-nav-body-icon {
                $size: 20;
                width: px2rem($size);
                height: px2rem($size);
                font-size: px2rem($size);
            }
            .m-footer-nav-body-text {
                line-height: 1;
                font-size: px2rem(12);
                margin-top: px2rem(4);
            }
            &.m-footer-nav-body-active {
                .m-footer-nav-body-icon, .m-footer-nav-body-text {
                    color: $g-color-highlight;
                }
            }
        }
    }
}