@import "../config/config";

.m-footer-nav {
    $height: 40;
    width: px2rem(320);
    height: px2rem($height);
    .m-footer-nav-wrap {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        bottom: 0;
        box-sizing: border-box;
        border-top: 1px solid $g-color-border-default;
        background: $g-color-background-default;
        .m-footer-nav-body {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            height: 100%;
            color: $g-color-font-default;
            .m-footer-nav-body-icon {
                font-size: px2rem(20);
            }
            .m-footer-nav-body-txt {
                font-size: px2rem(12);
                line-height: 1.4;
            }
            &.m-footer-nav-body-active {
                .m-footer-nav-body-icon, .m-footer-nav-body-txt {
                    color: $g-color-font-highlight;
                }
            }
        }
    }
}