@import "../config/config.scss";

.m-footer {
    $height: 40;
    height: px2rem($height);
    margin-top: px2rem(20);
    .m-footer-wrap {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 2;
        bottom: 0;
        box-sizing: border-box;
        border-top: 1px solid $g-color-border-default;
        background: $g-color-background-default;
    }
    &.m-footer-type0 {
        .m-footer-header {
            width: px2rem($height);
            display: flex;
            align-items: center;
            justify-content: center;
            .m-footer-header-icon {
                font-size: px2rem(20);
            }
        }
        .m-footer-body {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            border-left: 1px solid $g-color-border-default;
            .m-footer-body-icon {
                font-size: px2rem(14);
            }
            .m-footer-body-txt {
                font-size: px2rem(14);
            }
            .m-footer-body-child {
                display: none;
                position: absolute;
                width: px2rem(78);
                padding: 0 px2rem(6);
                left: 50%;
                margin-left: px2rem(-39);
                text-align: center;
                bottom: px2rem($height + 20);
                border-radius: px2rem(5);
                background: $g-color-border-default;
                border: 1px solid $g-color-border-default;
                box-sizing: border-box;
                &:after {
                    content: '';
                    position: absolute;
                    width: px2rem(10);
                    height: px2rem(10);
                    background: $g-color-background-default;
                    border-left: 1px solid $g-color-border-default;
                    border-top: 1px solid $g-color-border-default;
                    box-sizing: border-box;
                    left: 50%;
                    bottom: px2rem(-5.5);
                    margin-left: px2rem(-5);
                    transform: rotate(225deg);
                }
                .m-footer-body-child-item {
                    font-size: px2rem(14);
                    height: px2rem($height);
                    line-height: px2rem($height);
                    border-bottom: 1px solid $g-color-border-default;
                    a {
                        display: block;
                    }
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
            &.m-footer-body-active, &:hover {
                .m-footer-body-child {
                    display: block;
                }
            }
        }
    }
    &.m-footer-type1 {
        .m-footer-body {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            height: 100%;
            color: $g-color-font-default;
            .m-footer-body-icon {
                font-size: px2rem(20);
            }
            .m-footer-body-txt {
                font-size: px2rem(12);
            }
            &.m-footer-body-active {
                background: #fff;
                .m-footer-body-icon, .m-footer-body-txt {
                    color: $g-color-font-highlight;
                }
            }
        }
    }
}
