@import "../config/config.scss";
/*加载更多的底部加载中*/
.m-loading {
    @keyframes run {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    //加载中
    &.m-loading-loading {
        color: $g-color-font-highlight;
        .m-loading-loading-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: px2rem(30);
        }
        .m-loading-loading-icon{
            animation: run 1s linear infinite;
            position: relative;
            z-index: 502;
        }
        &.m-loading-center {
            .m-loading-loading-wrap {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 501;
            }
        }
        &.m-loading-bottom {
            .m-loading-loading-wrap {
                padding: px2rem(10) 0;
                position: relative;
                z-index: 501;
            }
        }
    }

    //加载完毕
    &.m-loading-over {
        .m-loading-over-wrap{
            padding: px2rem(10) 0;
            .m-loading-over-txt{
                text-align: center;
            }
        }
    }
}
