@import "../config/config";

.m-mask {
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:500;
    &.m-mask-transparent{
        z-index: 999;
        background-color:transparent;
    }
}