@import "../config/config";

.m-navigation {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    .m-navigation-wrap {
        $width-height: 64;
        width: px2rem($width-height);
        height: px2rem($width-height);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        .m-navigation-icon {
            font-size: px2rem(24);
            color: $g-color-highlight;
        }
        .m-navigation-text {
            font-size: px2rem(12);
        }
        .m-navigation-mark {
            position: absolute;
            right: px2rem(10);
            top: px2rem(10);
            width: px2rem(6);
            height: px2rem(6);
            border-radius: 50%;
            background: $g-color-highlight;
            color: #ffffff;
        }
    }
}