@import "../config/config.scss";

.m-pagination {
    $height: 30;
    font-size: px2rem(12);
    padding: px2rem(10) 0;
    height: px2rem($height);
    line-height: px2rem($height);
    display: flex;
    align-items: center;
    user-select: none;
    .m-pagination-txt {
        margin: 0 px2rem(10);
    }
    .m-pagination-num {
        height: inherit;
        .m-pagination-num-select {
            height: inherit;
            line-height: inherit;
            box-sizing: border-box;
            width: px2rem($height * 3);
        }
    }
}