@import "../config/config.scss";

.m-pagination {
    $height: 24;
    padding: px2rem(10) 0;
    height: px2rem($height);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    .m-pagination-now-page {
        margin: 0 px2rem(4);
        height: inherit;
        .g-select {
            height: inherit;
            width: px2rem($height * 2.4);
            .g-select-select {
                padding: 0 px2rem($height + 4) 0 px2rem(4);
            }
            .g-select-icon {
                width: px2rem($height);
            }
        }
    }
    .m-pagination-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: px2rem($height);
        margin-left: px2rem(10);
        &.m-pagination-btn-inactive{
            color: $g-color-font-disable;
        }
    }
}