@import "../base/base";

.m-product {
    $color1: #ee3400;
    $color2: #bfbfbf;
    $color3: #383838;
    $color4: #ffffff;
    $color5: #64af2a;
    $color6: #9b9b9b;
    $color7: #f4e91e;
    $color8: rgba(0, 0, 0, 0.8);
    line-height: 1;
    color: $color3;
    font-size: px2rem(12);
    span {
        display: inline-block;
    }
    a {
        text-decoration: none;
        outline: none;
        color: inherit;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
    .m-product-img { //图片容器
        position: relative;
        overflow: hidden;
        border-radius: px2rem(10);
        background: #dddddd;
        text-align: center;
        a {
            position: relative;
            @include center-xy;
            border-radius: inherit;
        }
    }
    .m-product-txt { //文字容器
        position: relative;
        overflow: hidden;
    }
    .m-product-goods-name { //商品名称
        position: absolute;
        left: 0;
        top: px2rem(0);
        font-size: px2rem(16);
        @include ellipsis(2, px2rem(23));
    }
    .m-product-price { //商品价格
        position: absolute;
        left: 0;
        bottom: px2rem(50);
        font-size: 0;
        span {
            font-size: px2rem(12);
            &.m-product-price-vip-money {
                color: $color1;
                font-size: px2rem(14);
                margin-right: px2rem(2);
            }
            &.m-product-price-now-money-symbol, &.m-product-price-now-money-big, &.m-product-price-now-money-point, &.m-product-price-now-money-small {
                color: $color1;
            }
            &.m-product-price-now-money-big {
                font-size: px2rem(18);
            }
            &.m-product-price-market-money-symbol {
                margin-left: px2rem(6);
            }
            &.m-product-price-market-money-symbol, &.m-product-price-market-money-small {
                color: $color2;
                text-decoration: line-through;
            }
        }
    }
    .m-product-price-like-num { //多少人想买
        position: absolute;
        bottom: px2rem(30);
        left: 0;
        font-size: 0;
        span {
            font-size: px2rem(12);
            color: $color2;
        }
    }
    .m-product-cart { //购物车
        position: absolute;
        right: 0;
        bottom: 0;
        width: px2rem(60);
        text-align: center;
        height: px2rem(22);
        line-height: px2rem(22);
        background: $color1;
        color: $color4;
        border-radius: px2rem(2000);
        .iconfont {
            font-size: px2rem(20);
        }
    }
    .m-product-seckill-mark { //秒杀标识
        position: absolute;
        left: 0;
        top: 0;
        font-size: 0;
        width: px2rem(44);
        text-align: center;
        height: px2rem(18);
        line-height: px2rem(18);
        border-radius: px2rem(2000);
        color: $color4;
        background: $color1;
        span {
            font-size: px2rem(12);
            &.iconfont {
                margin-right: px2rem(1);
            }
        }
    }
    .m-product-seckill-logo { //秒杀的logo
        position: absolute;
        right: px2rem(4);
        bottom: px2rem(2);
        .m-product-seckill-img {
            width: px2rem(54);
            height: px2rem(34);
            background: url("../../images/seckill.png");
            background-size: 100% 100%;
            position: absolute;
            left: - px2rem(24);
            top: - px2rem(10);
        }
        .m-product-seckill-price {
            position: relative;
            z-index: 2;
            font-size: 0;
            span {
                font-size: px2rem(16);
                color: $color7;
                &.m-product-seckill-price-money-big {
                    font-size: px2rem(30);
                }
                text-shadow: 0 0 px2rem(6) $color8;
            }
        }
    }
    .m-product-seckill-will-begin-btn, .m-product-seckill-hint-btn-set-ok { //秒杀即将开始按钮,已设置秒杀提醒按钮
        position: absolute;
        right: 0;
        bottom: 0;
        background: $color6;
        width: px2rem(64);
        text-align: center;
        border-radius: 2000px;
        height: px2rem(32);
        font-size: px2rem(12);
        div {
            color: $color4;
            &:first-of-type {
                padding-top: px2rem(5);
            }
        }
    }
    .m-product-seckill-will-begin-time { //秒杀即将开始的提醒时间
        position: absolute;
        left: 0;
        bottom: px2rem(3);
        font-size: 0;
        span {
            font-size: px2rem(12);
            &.m-product-seckill-will-begin-time-num {
                color: $color1;
            }
        }
    }
    .m-product-seckill-hint-btn { //秒杀提醒按钮
        position: absolute;
        right: 0;
        bottom: 0;
        width: px2rem(60);
        text-align: center;
        height: px2rem(22);
        line-height: px2rem(22);
        color: $color4;
        border-radius: px2rem(2000);
        background: $color5;
    }
    .m-product-seckill-now-get-btn { //秒杀马上抢
        position: absolute;
        right: 0;
        bottom: 0;
        width: px2rem(60);
        text-align: center;
        height: px2rem(22);
        line-height: px2rem(22);
        background: $color1;
        color: $color4;
        border-radius: px2rem(2000);
    }
    .m-product-seckill-will-end-time { //秒杀倒计时
        position: absolute;
        left: 0;
        bottom: px2rem(3);
        font-size: 0;
        span {
            font-size: px2rem(12);
            &.m-product-seckill-will-end-time-num {
                color: $color1;
            }
        }
    }
    &.m-product-list { //列表式默认正方形(列表式,橱窗式,海报式的样式只能同时存在一种)
        margin: px2rem(8);
        display: -webkit-box;
        -webkit-box-pack: justify;
        .m-product-img {
            width: px2rem(130);
            height: px2rem(130);
        }
        .m-product-txt {
            width: px2rem(220);
            height: px2rem(130);
        }
        &.m-product-long { //列表式的长方形
            .m-product-img {
                height: px2rem(199);
            }
            .m-product-txt {
                height: px2rem(199);
            }
        }
    }
    &.m-product-window { //橱窗式默认正方形(列表式,橱窗式,海报式的样式只能同时存在一种)
        &:nth-of-type(n) {
            margin: px2rem(8) 0 px2rem(8) px2rem(8);
            float: left;
        }
        &:nth-of-type(2n) {
            margin: px2rem(8) px2rem(8) px2rem(8) 0;
            float: right;
        }
        width: px2rem(175);
        .m-product-img {
            height: px2rem(175);
        }
        .m-product-txt {
            height: px2rem(115);
            margin-top: px2rem(5);
        }
        &.m-product-long { //橱窗式的长方形
            .m-product-img {
                height: px2rem(268);
            }
        }
    }
    &.m-product-placard { //海报式默认正方形(列表式,橱窗式,海报式的样式只能同时存在一种)
        margin: px2rem(8);
        width: px2rem(359);
        .m-product-img {
            height: px2rem(359);
        }
        .m-product-txt {
            height: px2rem(116);
            margin-top: px2rem(5);
        }
        &.m-product-long { //海报式的长方形
            .m-product-img {
                height: px2rem(550);
            }
        }
    }
    &.m-product-seckill { //秒杀式
        .m-product-goods-name {
            text-indent: px2rem(46);
        }
    }
}