@import "../config/config.scss";

.m-radio-switch {
    cursor: pointer;
    display: -webkit-box;
    height: px2rem(20);
    font-size: px2rem(16);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    .m-radio-switch-box {
        position: relative;
        width: px2rem(40);
        height: 100%;
        text-align: center;
        border-radius: px2rem(100);
        background: $g-color-background-dark;
    }
    .m-radio-switch-run {
        width: px2rem(18);
        height: px2rem(18);
        background: #ffffff;
        border-radius: px2rem(100);
        position: absolute;
        left: px2rem(1);
        top: px2rem(1);
        transition: 0.4s;
    }
    .m-radio-switch-txt {
        margin-left: px2rem(4);
    }
    &.m-radio-switch-active {
        .m-radio-switch-box {
            background: $g-color-background-highlight;
        }
        .m-radio-switch-run {
            left: px2rem(21);
        }
        .m-radio-switch-txt {
            color: $g-color-font-highlight;
        }
    }
}
