//我的记录里的商品
@import "../base/mixin";

.m-shopping{
    $color1:#333333;
    $color2:#888888;
    $color3:#fc152e;
    $color4:#ffffff;
    $color5:#fc152e;
    $color9:#dddddd;
    line-height:1;
    font-size:px2rem(12);
    display:-webkit-box;
    -webkit-box-pack:justify;
    position:relative;
    span{
        display:inline-block;
    }
    a{
        text-decoration:none;
        outline:none;
        color:inherit;
        -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
        display:inline-block;
        width:100%;
        height:100%;
    }
    img{
        max-width:100%;
        max-height:100%;
        vertical-align:middle;
    }
    //整体外部容器
    &-wrap{
        padding:px2rem(10) 0 px2rem(16);
        width:100%;
        box-sizing:border-box;
        transition:0.4s;
        &.change-width{
            width:calc(100% - 1.22667rem);
        }
    }
    //整体内部容器
    &-content{
        display:-webkit-box;
        -webkit-box-pack:justify;
    }
    //删除区域
    &-delete{
        background:$color5;
        width:px2rem(46);
        height:100%;
        position:absolute;
        right:0;
        top:0;
        z-index:-1;
    }
    //单选框区域
    &-radio{
        width:px2rem(20);
        height:px2rem(60);
        padding-right:px2rem(10);
        line-height:px2rem(60);
    }
    //图片容器
    &-img{
        position:relative;
        overflow:hidden;
        border-radius:px2rem(10);
        text-align:center;
        width:px2rem(60);
        height:px2rem(60);
        background:$color9;
        a{
            position:relative;
            @include center-xy;
            border-radius:inherit;
            img{
                border-radius:inherit;
            }
        }
    }
    //信息容器
    &-info{
        padding-left:px2rem(10);
        height:px2rem(60);
        -webkit-box-flex:1;
        position:relative;
        overflow:hidden;
        &-txt{
            height:100%;
            &-name{
                font-size:px2rem(13);
                color:$color1;
                line-height:px2rem(17);
                @include ellipsis2(1);
            }
            &-standard{
                font-size:px2rem(12);
                color:$color2;
                line-height:px2rem(18);
            }
            &-price{
                font-size:0;
                color:$color3;
                span{
                    font-size:px2rem(12);
                    &.m-shopping-info-txt-price-big{
                        font-size:px2rem(16);
                    }
                }
            }
            &-num{
                position:absolute;
                right:0;
                bottom:px2rem(10);
                font-size:0;
                color:$color2;
                &-des{
                    font-size:px2rem(12);
                }
                &-txt{
                    font-size:px2rem(14);
                }
            }
        }
        &-option{
            height:100%;
            &-compute{
                display:-webkit-box;
                width:px2rem(108);
                height:px2rem(30);
                line-height:px2rem(30);
                text-align:center;
                border:1px solid $color9;
                margin-bottom:px2rem(10);
            }
            &-add,&-substract{
                width:px2rem(30);
                font-size:px2rem(20);
                &.m-shopping-inactive{
                    color:$color9;
                }
            }
            &-input{
                font-size:px2rem(17);
                overflow:hidden;
                width:px2rem(48);
                border-left:1px solid $color9;
                border-right:1px solid $color9;
                input{
                    width:inherit;
                    height:px2rem(30);
                    border:none;
                    outline:none;
                    text-align:inherit;
                }
            }
        }
    }
}
