@import "../config/config";

.m-star {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: px2rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    .m-star-item {
        color: $g-color-font-dark;
        font-size: px2rem(36);
        &.m-star-item-active {
            color: $g-color-font-highlight;
        }
    }
}