@import "../config/config.scss";

.m-star {
    font-size: 0;
    .m-star-item {
        display: inline-block;
        color: $g-color-font-dark;
        font-size: px2rem(40);
        &.m-star-item-active {
            color: $g-color-font-highlight;
        }
    }
}