@import "../config/config";

.m-table {
    color: $g-color-font-default;
    text-align:center;
    .m-table-row {
        display: flex;
        min-height: px2rem($g-table-row-height);
        border-bottom: 1px solid $g-color-border-default;
        &:hover {
            background: $g-color-background-default;
        }
        .m-table-col {
            position: relative;
            flex: 1;
            .m-table-col-wrap{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break: break-all;
                padding: px2rem(4);
                box-sizing: border-box;
            }
        }
    }
    .m-table-header {
        background: $g-color-background-default;
        border-top: 1px solid $g-color-border-default;
    }
}
