@import "../config/config.scss";

.m-validate-form-hint {
    $height:30;
    color: #ffffff;
    background: $g-color-validate-fail;
    height: px2rem($height);
    line-height: px2rem($height);
    font-size: px2rem(16);
    padding: 0 px2rem(10);
    position: absolute;
    left: 0;
    top: px2rem(-40);
    font-style: normal;
    font-weight: normal;
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: px2rem(8) solid transparent;
        border-top-color: $g-color-validate-fail;
        left: px2rem(10);
        top: px2rem($height);
    }
}
.m-validate-form-error {
    border: px2rem(1) solid $g-color-validate-fail !important;
}