@import "../config/config";

.m-validate-input-parent {
    position: relative;
    .m-validate-input-hint {
        color: #ffffff;
        background: $g-color-validate-fail;
        height: px2rem(30);
        line-height: px2rem(30);
        font-size: px2rem(14);
        padding: 0 px2rem(10);
        position: absolute;
        left: 0;
        top: px2rem(-40);
        font-style: normal;
        font-weight: normal;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: px2rem(8) solid transparent;
            border-top-color: $g-color-validate-fail;
            left: px2rem(10);
            top: px2rem(30);
        }
    }
    .m-validate-input-error {
        border: px2rem(1) solid $g-color-validate-fail !important;
    }
}