@import "../config/config";

.m-validate-form-hint {
    $height: 30;
    color: #ffffff;
    background: $g-color-warn;
    height: px2rem($height);
    @include center-xy-flex;
    font-size: px2rem(14);
    padding: 0 px2rem(10);
    position: absolute;
    right: 0;
    top: px2rem(-40);
    font-style: normal;
    font-weight: normal;
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: px2rem(8) solid transparent;
        border-top-color: $g-color-warn;
        right: px2rem(10);
        top: px2rem($height);
    }
}

.m-validate-form-error {
    border: px2rem(1) solid $g-color-warn !important;
}