/* 盒模型重置 */
*, *:before, *:after {
    box-sizing: border-box;
}

/* 主体重置 */
body {
    margin: 0;
    font-family: "微软雅黑", "Helvetica", "Arial", "sans-serif";
    font-size: 12px;
    line-height: 1.5;
    color: #333333;
    background: #ffffff;
}

/* 标题重置 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
}

/* 列表重置 */
ul, ol {
    margin: 0;
    padding: 0;
}

dl, dd {
    margin: 0;
}

li {
    list-style-type: none;
}

/* 表单重置 */
input[type=text], input[type=radio], input[type=checkbox], select, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    background: #ffffff;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
    resize: none;
}

input[type=text], textarea {
    padding: 0 6px;
}

input[type=text], select, textarea {
    border: 1px solid #a9a9a9;
}

button, input[type=button], input[type=submit], input[type=file] {
    outline: none;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 表格重置 */
table {
    border-collapse: collapse;
}

td {
    padding: 0;
}

/* 超链接重置 */
a {
    color: inherit;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 段落重置 */
p {
    margin: 0;
}

/* 图片重置 */
img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}
