//px转rem
@function px2rem($px,$psd:375) {
    @return $px / $psd * 10rem;
}
//清除浮动
@mixin clear-fix() {
    &:after{
        content:'';
        clear:both;
        display:block;
        height:0;
        overflow:hidden;
    }
}
//垂直居中
@mixin center-xy() {
    &:before{
        content:'';
        display:inline-block;
        height:100%;
        vertical-align:middle;
    }
}
//单行省略号
@mixin ellipsis() {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
//多行省略号
@mixin ellipsis-more-line($lineNum) {
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$lineNum;
}
//mixin待续...

//周华飞的个人习惯
@mixin habit-zhouhuafei() {    
    overflow-x:hidden;
    font-family:"Microsoft Yahei", Arial, Helvetica, "sans-serif";
    line-height:1;    
    font-size:px2rem(12);
    menu, ul, ol, body, dl, dd, h1, h2, h3, h4, h5, h6, p, figure,textarea,input{
        margin:0;
    }
    menu, ul, ol, input, textarea,button{
        padding:0;
    }
    li{
        list-style-type:none;
    }
    input, select,textarea,button{
        border:none;
    }
    textarea,a,select,input,button{
        outline:none;
    }
    a,s{
        text-decoration:none;
    }
    a,mark,select,input,textarea,button{
        color:inherit;
    }
    a{
        -webkit-tap-highlight-color:rgba(0,0,0,0);
    }
    mark,button,input,select,textarea{
        background:none;
    }
    textarea{
        overflow:hidden;
    }
    textarea{
        font-family:inherit;
    }
    textarea{
        line-height:inherit;
    }
    h1, h2, h3, h4, h5, h6,small,input,select,textarea,button{
        font-size:inherit;
    }
    h1, h2, h3, h4, h5, h6,b,strong{
        font-weight:normal;
    }
    em,i{
        font-style:normal;
    }
    img{
        vertical-align:middle;
    }
    textarea{
        vertical-align:top;
    }
    label,em,i,span,small,b,s,strong,mark,a{
        display:inline-block;
    }
    .display-none{
        display:none;
    }
    .display-block{
        display:block;
    }
    .display-inline-block{
        display:inline-block;
    }
    //以上和清零样式相同
    a{
        width:100%;       
    }
    a{
        height:100%;
    }
    img{        
        max-width:100%;
    }
    img{
        max-height:100%;
    }
}
//xxx的个人习惯待续...
@mixin habit-xxx() {

}
