//px转rem
@function px2rem($px,$psd:375) {
    @return $px / $psd * 10rem;
}
//清除浮动
@mixin clear-fix() {
    &:after{
        content:'';
        clear:both;
        display:block;
        height:0;
        overflow:hidden;
    }
}
//垂直居中
@mixin center-xy() {
    &:before{
        content:'';
        display:inline-block;
        height:100%;
        vertical-align:middle;
    }
}
//单行省略号
@mixin ellipsis() {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
//多行省略号
@mixin ellipsis-more-line($lineNum) {
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$lineNum;
}
//mixin待续...

//周华飞的个人习惯
@mixin habit-zhouhuafei() {
    font-size:px2rem(12);
    line-height:1;
    .display-none{
        display:none;
    }
    .display-block{
        display:block;
    }
    .display-inline-block{
        display:inline-block;
    }
    input, select, textarea, img{
        outline:none;
        border:none;
        color:inherit;
        vertical-align:middle;
        font-size:100%;
        background:#ffffff;
    }
    textarea{
        resize:none;
    }
    em, i, strong, b, small, h1, h2, h3, h4, h5, h6, address{
        font-style:normal;
        font-weight:normal;
        font-size:100%;
    }
    span, b, em, i, strong, small, label, mark{
        display:inline-block;
    }
    mark{
        background:none;
    }
    a{
        display:block;
        height:100%;
    }
    img{
        max-width:100%;
        max-height:100%;
    }
}
//xxx的个人习惯待续...
@mixin habit-xxx() {

}
