//清零样式
body{
    font-family:"Microsoft Yahei", "sans-serif";
}
body, p, figure, menu, ol, ul, dl, dd, h1, h2, h3, h4, h5, h6, input, button, textarea{
    margin:0;
    padding:0;
}
li{
    list-style-type:none;
}