<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--自适应以及默认处理-->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="format-detection" content="telephone=no"/>
        <!--uc和qq强制竖屏-->
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">
        <!--uc和qq强制全屏-->
        <meta name="full-screen" content="yes">
        <meta name="x5-fullscreen" content="true">
        <link rel="stylesheet" href="dist/font/iconfont.css">
        <script>(function(win,doc){"use strict";var re=function(){doc.getElementsByTagName('html')[0].style.fontSize=doc.documentElement.clientWidth/10+'px';};re();win.addEventListener('resize',re);})(window,document);</script>
        <title>index</title>
    </head>
    <body>
        <h1>{{num}}</h1>
    </body>
</html>