<div class="g-footer"><div class="g-copyright-wrap"></div><div class="g-footer-nav-wrap"></div></div><input type="hidden" id="page-info-str" value="{{dataInfoStr}}"><script>const dataInfo = (function () {
        const input = document.querySelector('#page-info-str');
        const value = input.value;
        input.parentNode.removeChild(input);
        try {
            return JSON.parse(value);
        } catch (err) {
            console.log(err);
            return value || {};
        }
    }());</script>