@import "../base/config";

.g-dialog {
    z-index: 505;
    &.g-dialog-alert {
        display: flex;
        align-items: center;
        justify-content: center;
        width: px2rem(240);
        padding: px2rem(20);
        border-radius: px2rem(4);
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.8);
        .g-dialog-alert-icon {
            margin-right: px2rem(10);
            color: $g-color-failure;
            font-size: px2rem(24);
        }
        .g-dialog-alert-txt {
            color: #fff;
            font-size: px2rem(14);
            line-height: 1.2;
        }

    }
    &.g-dialog-confirm {
        $height: 40;
        $width: 260;
        background: #fff;
        .g-dialog-header {
            background: $g-color-light;
            color: #ffffff;
            height: px2rem($height);
            box-sizing: border-box;
            padding-left: px2rem(10);
            padding-right: px2rem($height);
            display: flex;
            align-items: center;
            text-align: justify;
            overflow: hidden;
        }
        .g-dialog-body {
            .g-dialog-body-system {
                width: px2rem($width);
                min-height: px2rem($width / 3.2);
                padding: px2rem(10);
                @include center-xy-flex;
                .g-dialog-icon {
                    margin-right: px2rem(6);
                    color: $g-color-failure;
                    font-size: px2rem(24);
                }
                .g-dialog-txt {
                    font-size: px2rem(14);
                    line-height: 1.2;
                }
            }
            .g-dialog-body-custom {
                min-width: px2rem($width / 2);
            }
        }
        .g-dialog-footer {
            display: flex;
            .g-dialog-cancel, .g-dialog-confirm {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: px2rem($height);
                width: auto;
            }
        }
        .g-dialog-close {
            position: absolute;
            top: 0;
            right: 0;
            width: px2rem($height);
            height: px2rem($height);
            font-size: px2rem(14);
            color: #ffffff;
            @include center-xy-flex;
        }
    }
    &.g-dialog-center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.g-dialog-bottom {
        width: 100%;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.g-dialog-top {
        width: 100%;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}