@import "../base/config";

.g-pagination {
    $height: 24;
    padding: px2rem(10) 0;
    height: px2rem($height);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    .g-pagination-now-page {
        margin: 0 px2rem(4);
        height: inherit;
        .g-select {
            height: inherit;
            min-width: px2rem($height * 2.4);
            border: 1px solid $g-border-color-default;
            .g-select-select {
                padding: 0 px2rem($height + 20) 0 px2rem(20);
            }
            .g-select-mark {
                width: px2rem($height);
                font-size: px2rem(12);
            }
        }
    }
    .g-pagination-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: px2rem($height);
        margin-left: px2rem(10);
        &.g-pagination-btn-inactive {
            color: $g-font-color-disabled;
        }
    }
}