@import "../base/config";

.g-validate-form-hint {
    $height: 20;
    color: #ffffff;
    background: $g-hint-color;
    height: px2rem($height);
    @include center-xy-flex;
    font-size: px2rem(12);
    padding: 0 px2rem(10);
    position: absolute;
    right: px2rem(6);
    top: px2rem(- $height - 10);
    font-style: normal;
    font-weight: normal;
    border-radius: px2rem(100);
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: px2rem(6) solid transparent;
        border-top-color: $g-hint-color;
        right: px2rem(10);
        top: px2rem($height);
    }
}