<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-slide"></div>
                <div class="page-navigation"></div>
                <div class="page-vue"></div>
            </div>
            <!--page end-->
            {{>phone/partials/footer}}
        </div>
    </body>
</html>