<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-slide"></div>
                <div class="page-navigation"></div>
                <img class="g-lazy-load" data-src="../../images/pages/p-waiting.jpg" alt="">
                <img class="g-lazy-load" data-src="../../images/pages/index/p-waiting.png" alt="">
                <img class="g-lazy-load" data-src="../../images/pages/p-waiting.png" alt="">
            </div>
            <!--page end-->
            {{>phone/partials/footer}}
        </div>
    </body>
</html>