//==================================================================变量的配置开始>
//背景
$g-background-color-default: #e0e0e0; //默认
$g-background-color-disabled: #ebebe4; //禁用
$g-background-color-floor: #f2f2f2; //底色
$g-background-color-dark: #bbbbbb; //灰暗

//字体
$g-font-color-default: #333333; //默认
$g-font-color-disabled: #91918e; //禁用
$g-font-color-dark: #bfbfbf; //灰暗

//边框
$g-border-color-default: #e6e7ed; //默认
$g-border-color-disabled: #a9a9a9; //禁用

//语义
$g-highlight-color: #0089ff; //高亮
$g-success-color: #13ce66; //成功
$g-failure-color: #ff4949; //失败
$g-warning-color: #f7ba2a; //警告
$g-hint-color: #f14344; //提示
//==================================================================变量的配置结束>

//px转rem
@function px2rem($px,$psd:320) {
    @return $px / $psd * 10rem;
}

//px转px
@function px2px($px) {
    @return $px * 1px;
}

//清除浮动
@mixin clear-fix() {
    &:after {
        content: '';
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

//垂直水平居中(伪类)
@mixin center-xy-sham() {
    font-size: 0;
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

//垂直水平居中(flex)
@mixin center-xy-flex() {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}

//省略号
@mixin ellipsis($lineClamp:1, $lineHeight:px2rem(18)) {
    display: block;
    line-height: $lineHeight;
    height: $lineHeight * $lineClamp;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
}