//全局的配置
@import "config";
//字体图标
@import "../fonts/iconfont.css";
//==================================================================清零样式的开始>
body {
    color: $g-color-font-default;
    font-family: "Microsoft Yahei", "Helvetica", "sans-serif";
    font-size: px2rem(12);
    background: $g-color-background-floor;
}

body, p, figure, menu, ol, ul, dl, dd, h1, h2, h3, h4, h5, h6, input, button, textarea {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div, input, button, textarea, select, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconfont {
    font-size: inherit;
}

//==================================================================清零样式的结束>

//==================================================================全局样式的开始>

//全局的容器
.g-wrap {
    width: 100%;
    .g-body {
        &:before, &:after {
            content: ' ';
            display: block;
            height: 0;
            overflow: hidden;
        }
    }
    .g-footer {
        width: inherit;
    }
}

//pc展示
html.g-pc {
    height: 100%;
    box-sizing: border-box;
    body {
        height: inherit;
        box-sizing: inherit;
        background: #fafafa;
    }
    .g-wrap {
        min-height: 100%;
        margin: 0 auto;
        width: 414px;
        box-sizing: border-box;
        box-shadow: 1px 0 0 $g-color-border-default, -1px 0 0 $g-color-border-default;
        border-top: 1px solid $g-color-border-default;
        border-bottom: 1px solid $g-color-border-default;
        background: $g-color-background-floor;
    }
}

//按钮
.g-button {
    $height: 40;
    width: px2rem(200);
    height: px2rem($height);
    display: flex;
    align-items: center;
    justify-content: center;
    .g-button-icon {
        margin: 0 px2rem(2);
    }
    .g-button-txt {
        margin: 0 px2rem(2);
    }
    //取消
    &.g-button-cancel {
        background: $g-color-background-dark;
        color: #fff;
    }
    //确认
    &.g-button-confirm {
        background: $g-color-light;
        color: #fff;
    }
    //禁用
    &.g-button-disable {
        background: $g-color-background-disable;
        color: $g-color-font-disable;
        cursor: not-allowed;
    }
    //铺满
    &.g-button-full {
        width: 100%;
        border-radius: 0;
    }
}

//多选框
.g-checkbox {
    $height: 20;
    height: px2rem($height);
    display: flex;
    align-items: center;
    .g-checkbox-wrap {
        width: px2rem($height);
        height: 100%;
        border-radius: px2rem(4);
        background: #ffffff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .g-checkbox-checkbox {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2rem(1) solid $g-color-border-default;
            &:checked {
                border-color: $g-color-light;
                & + .g-checkbox-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .g-checkbox-mark {
            color: $g-color-light;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
        }
    }
    .g-checkbox-txt {
        line-height: 1;
        margin-left: px2rem(10);
    }
}

//图片上传
.g-img-upload {
    $width-height: 80;
    width: px2rem($width-height);
    height: px2rem($width-height);
    border: px2rem(1) dashed $g-color-light;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: $g-color-light;
    .g-img-upload-input {
        display: none;
    }
    .g-img-upload-icon {
        font-size: px2rem($width-height*0.4);
    }
    .g-img-upload-show {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: center center no-repeat;
        background-size: 100% auto;
        display: none;
    }
    .g-img-upload-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(12);
        margin-top: px2rem(4);
    }
    .g-img-upload-opts {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: px2rem(4) 0;
        .g-img-upload-opts-item {
            margin: 0 px2rem(4);
            &.g-img-upload-opts-close {
                font-size: px2rem(16);
            }
        }
    }
    &.g-img-upload-active {
        border: none;
        background: $g-color-background-dark;
        .g-img-upload-icon {
            display: none;
        }
        .g-img-upload-show {
            display: flex;
        }
        .g-img-upload-txt {
            margin-top: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            color: #ffffff;
            padding: px2rem(4) 0;
        }
        .g-img-upload-opts {
            display: flex;
        }
    }
}

//输入框
.g-input {
    $height: 40;
    width: 100%;
    height: px2rem($height);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: px2rem(1) solid $g-color-border-default;
    box-sizing: border-box;
    position: relative;
    border-radius: px2rem(0);
    .g-input-txt {
        min-width: px2rem($height);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-input-input {
            border-left: px2rem(1) solid $g-color-border-default;
        }
        .g-input-icon {
            font-size: inherit;
        }
    }
    .g-input-icon {
        font-size: px2rem(12);
        padding: 0 px2rem(2);
        & ~ .g-input-input {
            border-left: px2rem(1) solid $g-color-border-default;
        }
    }
    .g-input-hint {
        font-size: px2rem(12);
        padding: 0 px2rem(2);
        color: $g-color-hint;
        & ~ .g-input-input {
            border-left: px2rem(1) solid $g-color-border-default;
        }
    }
    .g-input-input {
        min-width: px2rem(50);
        border: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        flex: 1;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        padding: 0 px2rem(10);
    }
}

//列表
.g-list {
    width: 100%;
    background: #fff;
    .g-list-row {
        display: block;
        padding: px2rem(10) px2rem(10);
        border-bottom: px2rem(1) solid $g-color-border-default;
        .g-list-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .g-list-icon {
                $size: 24;
                width: px2rem($size);
                height: px2rem($size);
                font-size: px2rem($size);
                margin-right: px2rem(10);
                color: $g-color-light;
            }
            .g-list-text {
                font-size: px2rem(12);
            }
            .g-list-mark {
                font-size: px2rem(12);
                color: $g-color-font-dark;
            }
            .g-list-more {
                font-size: px2rem(14);
            }
        }
        .g-list-info {
            color: $g-color-font-dark;
            font-size: px2rem(12);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

//标签
.g-quick-enter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: px2rem(12);
    overflow: hidden;
    .g-quick-enter-btn {
        color: $g-color-font-dark;
        padding: px2rem(4) px2rem(6);
        border: px2rem(1) solid $g-color-border-default;
        margin: px2rem(2);
        background: #ffffff;
        border-radius: px2rem(2000);
    }
}

//单选框
.g-radio {
    $height: 20.4;
    text-align: center;
    height: px2rem($height);
    display: flex;
    align-items: center;
    .g-radio-wrap {
        position: relative;
        width: px2rem($height);
        height: 100%;
        background: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .g-radio-radio {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2rem(1) solid $g-color-border-default;
            &:checked {
                border-color: $g-color-light;
                & + .g-radio-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .g-radio-mark {
            color: $g-color-light;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
            &:before {
                width: inherit;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
            }
        }
    }
    .g-radio-txt {
        line-height: 1;
        margin-left: px2rem(10);
    }
}

//下拉框
.g-select {
    $height: 40;
    $padding-left: 10;
    $padding-right: $height + $padding-left;
    $triangle-width: 10;
    $triangle-position-right: ( $height - $triangle-width*2 ) / 2;
    $triangle-margin-top: - $triangle-width / 2;
    width: 100%;
    height: px2rem($height);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: px2rem(1) solid $g-color-border-default;
    box-sizing: border-box;
    position: relative;
    border-radius: px2rem(0);
    .g-select-txt {
        min-width: px2rem($height);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-select-wrap {
            border-left: px2rem(1) solid $g-color-border-default;
        }
    }
    .g-select-wrap {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        .g-select-select {
            flex: 1;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            color: inherit;
            font-size: inherit;
            height: 100%;
            background: transparent;
            border-radius: inherit;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            padding-left: px2rem($padding-left);
            padding-right: px2rem($padding-right);
            border: none;
        }
        .g-select-mark {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: inherit;
            color: $g-color-font-dark;
            width: px2rem($height);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border-left: px2rem(1) solid $g-color-border-default;
            box-sizing: border-box;
            border-radius: inherit;
            //border-top-left-radius: 0;
            //border-bottom-left-radius: 0;
        }
    }
}

//文本框
.g-textarea {
    width: 100%;
    height: px2rem(120);
    line-height: px2rem(20);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: px2rem(1) solid $g-color-border-default;
    border-radius: px2rem(0);
    .g-textarea-txt {
        min-width: px2rem(40);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-textarea-textarea {
            border-left: px2rem(1) solid $g-color-border-default;
        }
    }
    .g-textarea-textarea {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        flex: 1;
        height: 100%;
        font-family: inherit;
        line-height: inherit;
        background: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        text-align: justify;
        resize: none;
        padding: px2rem(10);
        border: none;
    }
}

//g-tools
.g-display-none {
    display: none;
}

.g-display-block {
    display: block;
}

.g-display-flex {
    display: flex;
}

//以下改怎么设计有待考量
.g-center-x {
    justify-content: center;
}

.g-center-y {
    align-items: center;
}

.g-center-xy {
    justify-content: center;
    align-items: center;
}

.g-color-warn {

}

.g-color-highlight {

}

.g-bg-warn {

}

//==================================================================全局样式的结束>

//公用的模块
@import "../components/g-footer-nav";
@import "../components/g-copyright";