//全局配置
@import "config";
//字体图标
@import "../fonts/iconfont.css";
//==================================================================重置样式>
body {
    color: $g-font-color-default;
    font-family: "Microsoft Yahei", "Helvetica", "sans-serif";
    font-size: px2rem(12);
    background: $g-background-color-floor;
}

body, p, figure, menu, ol, ul, dl, dd, h1, h2, h3, h4, h5, h6, input, button, textarea {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div, input, button, textarea, select, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconfont {
    font-size: inherit;
}

//==================================================================全局样式>
//全局的容器
.g-wrap {
    width: 100%;
    position: relative;
    .g-header {
        position: relative;
        //二维码(扫码手机观看)
        .g-qr-code {
            display: none;
        }
    }
    .g-body {
        position: relative;
        &:before, &:after {
            content: ' ';
            display: block;
            height: 0;
            overflow: hidden;
        }
    }
    .g-footer {
        position: relative;
        width: inherit;
    }
}

//pc展示
html.g-pc {
    height: 100%;
    box-sizing: border-box;
    body {
        height: inherit;
        box-sizing: inherit;
        background: #fafafa;
    }
    .g-wrap {
        $width-wrap: 414;
        min-height: 100%;
        margin: 0 auto;
        width: px2px($width-wrap);
        box-sizing: border-box;
        box-shadow: px2px(1) 0 px2px(4) $g-border-color-default, px2px(-1) 0 px2px(4) $g-border-color-default;
        //border-top: px2px(1) solid $g-border-color-default;
        //border-bottom: px2px(1) solid $g-border-color-default;
        .g-header {
            //二维码(扫码手机观看)
            .g-qr-code {
                $width: 144;
                display: block;
                box-sizing: border-box;
                width: px2px($width);
                padding: px2px(20);
                background: #fff;
                border: px2px(1) solid $g-border-color-default;
                position: fixed;
                top: px2px(20);
                left: 50%;
                margin-left: px2px(- 20 - $width - $width-wrap/2);
                font-size: px2px(12);
                .g-qr-code-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .g-qr-code-svg {
                }
            }
        }
    }
}

//按钮
.g-button {
    height: px2rem(40);
    background: $g-highlight-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .g-button-icon {
        font-size: px2rem(20);
        margin: 0 px2rem(2);
    }
    .g-button-txt {
        margin: 0 px2rem(2);
    }
    //取消
    &.g-button-cancel {
        background: $g-background-color-dark;
    }
    //禁用
    &.g-button-disable {
        background: $g-background-color-disabled;
        color: $g-font-color-disabled;
        cursor: not-allowed;
    }
}

//图片上传
.g-img-upload {
    $width-height: 80;
    width: px2rem($width-height);
    height: px2rem($width-height);
    border: px2px(1) dashed $g-highlight-color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: $g-highlight-color;
    .g-img-upload-input {
        display: none;
    }
    .g-img-upload-icon {
        font-size: px2rem($width-height*0.4);
    }
    .g-img-upload-show {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: center center no-repeat;
        background-size: 100% auto;
        display: none;
    }
    .g-img-upload-txt {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(12);
        margin-top: px2rem(4);
    }
    .g-img-upload-opts {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: px2rem(4) 0;
        .g-img-upload-opts-item {
            margin: 0 px2rem(4);
            &.g-img-upload-opts-close {
                font-size: px2rem(16);
            }
        }
    }
    &.g-img-upload-active {
        border: none;
        background: $g-background-color-dark;
        .g-img-upload-icon {
            display: none;
        }
        .g-img-upload-show {
            display: flex;
        }
        .g-img-upload-txt {
            margin-top: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            color: #ffffff;
            padding: px2rem(4) 0;
        }
        .g-img-upload-opts {
            display: flex;
        }
    }
}

//列表
.g-list {
    width: 100%;
    background: #fff;
    .g-list-row {
        display: block;
        padding: px2rem(10) px2rem(10);
        border-bottom: px2px(1) solid $g-border-color-default;
        .g-list-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .g-list-icon {
                $size: 24;
                width: px2rem($size);
                height: px2rem($size);
                font-size: px2rem($size);
                margin-right: px2rem(10);
                color: $g-highlight-color;
            }
            .g-list-text {
                font-size: px2rem(12);
            }
            .g-list-mark {
                font-size: px2rem(12);
                color: $g-font-color-dark;
            }
            .g-list-more {
                font-size: px2rem(14);
            }
        }
        .g-list-info {
            color: $g-font-color-dark;
            font-size: px2rem(12);
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

//快捷入口
.g-quick-enter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: px2rem(12);
    overflow: hidden;
    .g-quick-enter-btn {
        color: $g-font-color-dark;
        padding: px2rem(4) px2rem(6);
        border: px2px(1) solid $g-border-color-default;
        margin: px2rem(2);
        background: #ffffff;
        border-radius: px2rem(2000);
    }
}

//输入框
.g-input {
    $height: 40;
    width: 100%;
    height: px2rem($height);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: px2px(1) solid $g-border-color-default;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    position: relative;
    border-radius: px2rem(0);
    .g-input-txt {
        min-width: px2rem($height);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-input-input {
            border-left: px2px(1) solid $g-border-color-default;
        }
        .g-input-icon {
            font-size: inherit;
        }
    }
    .g-input-icon {
        font-size: px2rem(12);
        padding: 0 px2rem(2);
        & ~ .g-input-input {
            border-left: px2px(1) solid $g-border-color-default;
        }
    }
    .g-input-hint {
        font-size: px2rem(12);
        padding: 0 px2rem(2);
        color: $g-hint-color;
        & ~ .g-input-input {
            border-left: px2px(1) solid $g-border-color-default;
        }
    }
    .g-input-input {
        min-width: px2rem(50);
        border: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        flex: 1;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        padding: 0 px2rem(10);
    }
}

//文本框
.g-textarea {
    width: 100%;
    height: px2rem(120);
    line-height: px2rem(20);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: px2px(1) solid $g-border-color-default;
    border-left: none;
    border-right: none;
    border-radius: px2rem(0);
    .g-textarea-txt {
        min-width: px2rem(40);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-textarea-textarea {
            border-left: px2px(1) solid $g-border-color-default;
        }
    }
    .g-textarea-textarea {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        flex: 1;
        height: 100%;
        font-family: inherit;
        line-height: inherit;
        background: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        text-align: justify;
        resize: none;
        padding: px2rem(10);
        border: none;
    }
}

//下拉框
.g-select {
    $height: 40;
    $padding-left: 10;
    $padding-right: $height + $padding-left;
    $triangle-width: 10;
    $triangle-position-right: ( $height - $triangle-width*2 ) / 2;
    $triangle-margin-top: - $triangle-width / 2;
    width: 100%;
    height: px2rem($height);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: px2px(1) solid $g-border-color-default;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    position: relative;
    border-radius: px2rem(0);
    .g-select-txt {
        min-width: px2rem($height);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-select-wrap {
            border-left: px2px(1) solid $g-border-color-default;
        }
    }
    .g-select-wrap {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        .g-select-select {
            flex: 1;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            color: inherit;
            font-size: inherit;
            height: 100%;
            background: transparent;
            border-radius: inherit;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            padding-left: px2rem($padding-left);
            padding-right: px2rem($padding-right);
            border: none;
        }
        .g-select-mark {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: inherit;
            color: $g-font-color-dark;
            width: px2rem($height);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border-left: px2px(1) solid $g-border-color-default;
            box-sizing: border-box;
            border-radius: inherit;
            //border-top-left-radius: 0;
            //border-bottom-left-radius: 0;
        }
    }
}

//单选框
.g-radio {
    $height: 20.4;
    text-align: center;
    height: px2rem($height);
    display: flex;
    align-items: center;
    .g-radio-wrap {
        position: relative;
        width: px2rem($height);
        height: 100%;
        background: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .g-radio-radio {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2px(1) solid $g-border-color-default;
            &:checked {
                border-color: $g-highlight-color;
                & + .g-radio-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .g-radio-mark {
            color: $g-highlight-color;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
            &:before {
                width: inherit;
                height: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
            }
        }
    }
    .g-radio-txt {
        line-height: 1;
        margin-left: px2rem(10);
    }
}

//多选框
.g-checkbox {
    $height: 20;
    height: px2rem($height);
    display: flex;
    align-items: center;
    .g-checkbox-wrap {
        width: px2rem($height);
        height: 100%;
        border-radius: px2rem(4);
        background: #ffffff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .g-checkbox-checkbox {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2px(1) solid $g-border-color-default;
            &:checked {
                border-color: $g-highlight-color;
                & + .g-checkbox-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .g-checkbox-mark {
            color: $g-highlight-color;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
        }
    }
    .g-checkbox-txt {
        line-height: 1;
        margin-left: px2rem(10);
    }
}

//==================================================================工具样式>
.g-display-none {
    display: none;
}

.g-display-block {
    display: block;
}

.g-display-flex {
    display: flex;
}

.g-justify-content-center {
    justify-content: center;
}

.g-align-items-center {
    align-items: center;
}

//==================================================================组件样式>
//底部导航
.g-footer-nav-wrap {
    width: inherit;
}

.g-footer-nav {
    $height: 44;
    width: inherit;
    height: px2rem($height);
    .g-footer-nav-wrap {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 3;
        bottom: px2px(-1);
        box-sizing: border-box;
        border-top: px2px(1) solid $g-border-color-default;
        background: #fff;
        .g-footer-nav-body {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            height: 100%;
            color: $g-font-color-default;
            .g-footer-nav-body-icon {
                $size: 20;
                width: px2rem($size);
                height: px2rem($size);
                font-size: px2rem($size);
            }
            .g-footer-nav-body-text {
                line-height: 1;
                font-size: px2rem(12);
                margin-top: px2rem(4);
            }
            .g-footer-nav-body-mark {
                $width-height: 6;
                width: px2rem($width-height);
                height: px2rem($width-height);
                border-radius: 50%;
                background: $g-highlight-color;
                position: absolute;
                right: px2rem(4);
                top: px2rem(4);
            }
            &.g-footer-nav-body-active {
                .g-footer-nav-body-icon, .g-footer-nav-body-text {
                    color: $g-highlight-color;
                }
            }
        }
    }
}

//版权
.g-copyright-wrap {
}

.g-copyright {
    padding: px2rem(20) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .g-copyright-icon {
        font-size: px2rem(40);
    }
    .g-copyright-txt {
        padding: 0 px2px(6);
        font-size: px2rem(12);
    }
}

//遮罩
.g-mask {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    &.g-mask-transparent {
        z-index: 999;
        background-color: transparent;
    }
}

//返回顶部
.g-go-top {
    $width-height: 40;
    position: fixed;
    left: 50%;
    margin-left: 5rem -  px2rem($width-height + 10);
    bottom: px2rem(60);
    width: px2rem($width-height);
    height: px2rem($width-height);
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px2rem(20);
    color: #ffffff;
    border-radius: 50%;
    transition: opacity 0.4s;
    z-index: -2;
    opacity: 0;
    &.g-go-top-active {
        opacity: 1;
        z-index: 2;
    }
}

//延迟加载默认状态
.g-lazy-load {
    transition: opacity 0.4s;
    opacity: 0;
}

//延迟加载活跃状态
.g-lazy-load-active {
    transition: opacity 0.4s;
    opacity: 1;
}

//没有数据
.g-no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: px2rem(20) 0;
    .g-no-data-icon {
        font-size: px2rem(60);
        margin-bottom: px2rem(20);
    }
    .g-no-data-txt {
        font-size: px2rem(16);
        margin-bottom: px2rem(20);
    }
}

//表单验证失败的提示
.g-validate-form-hint {
    $height: 20;
    color: #ffffff;
    background: $g-hint-color;
    height: px2rem($height);
    @include center-xy-flex;
    font-size: px2rem(12);
    padding: 0 px2rem(10);
    position: absolute;
    right: px2rem(6);
    top: px2rem(- $height - 10);
    font-style: normal;
    font-weight: normal;
    border-radius: px2rem(100);
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: px2rem(6) solid transparent;
        border-top-color: $g-hint-color;
        right: px2rem(10);
        top: px2rem($height);
    }
}