//字体颜色
$color-font-default: #000000; //默认
$color-font-highlight: #0089ff; //高亮
$color-font-dark: #bfbfbf; //灰暗

//背景颜色
$color-background-default: #f5f5f5; //默认
$color-background-highlight: #0089ff; //高亮
$color-background-dark: #bbbbbb; //灰暗

//边框颜色
$color-border-default: #e6e7ed; //默认
$color-border-highlight: #0089ff; //高亮
$color-border-dark: #e6e7ed; //灰暗

//验证颜色
$color-validate-success:#1fce69;//成功
$color-validate-fail:rgba(255, 0, 0, 0.6);//失败

//单选框
$color-radio-checked: #0089ff; //单选被选中

//多选框
$color-checkbox-checked: #0089ff; //多选框被选中

//高度
$height-input: 40; //输入框
$height-menu: 40; //菜单
$height-table-row: 60; //表格一行的高度

//间距
$gap-small: 10;
$gap-big: 20;
