//字体颜色
$color-font-default: #000000; //默认
$color-font-highlight: #ff0000; //高亮
$color-font-dark: #dddddd; //灰暗

//背景颜色
$color-background-default: #ffffff; //默认
$color-background-highlight: #ff0000; //高亮
$color-background-dark: #f8f8f8; //灰暗

//边框颜色
$color-border-default: #dddddd; //默认
$color-border-highlight: #ff0000; //高亮
$color-border-dark: #dddddd; //灰暗

//高度
$height-input: 40; //输入框
$height-menu: 40; //菜单
$height-row: 60; //表格

//间距
$gap-small: 10;
$gap-big: 20;