<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/dev/html/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/dev/html/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-slide"></div>
                <div class="page-navigation"></div>
                <img src="../../images/page/index/p-waiting.png" alt="">
            </div>
            <!--page end-->
            {{>phone/dev/html/partials/footer}}
        </div>
    </body>
</html>