//字体颜色
$color-font-default-black:#000000;//默认黑
$color-font-default-white:#ffffff;//默认白
$color-font-highlight:#ff0000;//高亮
$color-font-lowlight:rgba(255,0,0,0.6);//低亮
$color-font-gloomy:#dddddd;//灰暗

//背景颜色
$color-bg-default:#ffffff;//默认
$color-bg-highlight:#ff0000;//高亮
$color-bg-lowlight:rgba(255,0,0,0.6);//低亮
$color-bg-gloomy:#f8f8f8;//灰暗

//边框颜色
$color-bg-default:#dddddd;//默认
$color-bg-highlight:#ff0000;//高亮
$color-bg-gloomy:#dddddd;//灰暗
