//清零样式
body {
    font-family: "Microsoft Yahei", "sans-serif";
}

body, p, figure, menu, ol, ul, dl, dd, h1, h2, h3, h4, h5, h6, input, button, textarea {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

//不要在这里写其他的css样式,自己的样式写自己的页面好吧,清零样式尽量保持通用,模块保持模块样式的完整