@import "../config/config";

.m-table {
    color: $g-color-font-default;
    text-align: center;
    background: #fff;
    .m-table-row {
        display: flex;
        min-height: px2rem(44);
        border-bottom: 1px solid $g-color-border-default;
        &:hover {
            background: $g-color-background-disable;
        }
        .m-table-col {
            position: relative;
            flex: 1;
            .m-table-col-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                word-break: break-all;
                padding: px2rem(4);
                box-sizing: border-box;
            }
        }
    }
    .m-table-header {
        background: $g-color-background-disable;
        border-top: 1px solid $g-color-border-default;
    }
}
