@import "../config/config";

.g-dialog-confirm {
    z-index: 505;
    $height: 40;
    $width: 280*1.5;
    background: #fff;
    .g-dialog-confirm-header {
        background: $g-highlight-color;
        color: #ffffff;
        height: px2rem($height);
        box-sizing: border-box;
        padding-left: px2rem(10);
        padding-right: px2rem($height);
        display: flex;
        align-items: center;
        text-align: justify;
        overflow: hidden;
    }
    .g-dialog-confirm-body {
        .g-dialog-confirm-body-system {
            width: px2rem($width);
            min-height: px2rem($width / 3.2);
            padding: px2rem(10);
            @include xy-center-flex;
            .g-dialog-confirm-body-system-icon {
                margin-right: px2rem(6);
                font-size: px2rem(24);
            }
            .g-dialog-confirm-body-system-text {
                font-size: px2rem(14);
                line-height: 1.2;
            }
        }
        .g-dialog-confirm-body-custom {
        }
    }
    .g-dialog-confirm-footer {
        display: flex;
        .g-dialog-confirm-footer-cancel, .g-dialog-confirm-footer-confirm {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: px2rem($height);
            width: auto;
        }
    }
    .g-dialog-confirm-close {
        position: absolute;
        top: 0;
        right: 0;
        width: px2rem($height);
        height: px2rem($height);
        font-size: px2rem(14);
        color: #ffffff;
        @include xy-center-flex;
    }
    &.g-dialog-confirm_center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &.g-dialog-confirm_bottom {
        width: 100%;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.g-dialog-confirm_top {
        width: 100%;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
