@import "../config/config";

//图片上传
.g-img-upload {
    $width-height: 80;
    width: px2rem($width-height);
    height: px2rem($width-height);
    border: px2rem(1) dashed $g-highlight-color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    color: $g-highlight-color;
    overflow: hidden;
    .g-img-upload-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .g-img-upload-icon {
        font-size: px2rem($width-height*0.4);
    }
    .g-img-upload-show {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: center center no-repeat;
        background-size: 100% auto;
        display: none;
    }
    .g-img-upload-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem(12);
        margin-top: px2rem(4);
    }
    .g-img-upload-opts {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        color: #ffffff;
        padding: px2rem(4) 0;
        .g-img-upload-opts-item {
            margin: 0 px2rem(4);
            &.g-img-upload-opts-close {
                font-size: px2rem(16);
            }
        }
    }
    &.g-img-upload-active {
        border: none;
        background: $g-background-color-default;
        .g-img-upload-icon {
            display: none;
        }
        .g-img-upload-show {
            display: flex;
        }
        .g-img-upload-text {
            margin-top: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.4);
            color: #ffffff;
            padding: px2rem(4) 0;
        }
        .g-img-upload-opts {
            display: flex;
        }
    }
}
