@import "../config/config";

// 单选框
.g-radio {
    display: flex;
    align-items: center;
    .g-radio-body {
        $height: 20;
        position: relative;
        width: px2rem($height);
        height: px2rem($height);
        background: #ffffff;
        border-radius: px2rem(2000);
        display: flex;
        align-items: center;
        justify-content: center;
        .g-radio-body-radio {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2rem(1) solid $g-border-color-default;
            &:checked {
                border-color: $g-highlight-color;
                & + .g-radio-body-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &:disabled {
                background: $g-background-color-disabled;
                border-color: $g-background-color-disabled;
                cursor: not-allowed;
            }
        }
        .g-radio-body-mark {
            color: $g-highlight-color;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
        }
    }
    .g-radio-text {
        line-height: 1;
        margin-left: px2rem(4);
    }
}
