@import "../config/config";

// 下拉框
.g-select {
    $select-height: 40;
    $mark-font-size: 12;
    $mark-width: $mark-font-size + 20;
    $select-padding-left: 10;
    $select-padding-right: $mark-width;
    flex: 1;
    width: 0;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    select.g-select-body {
        flex: 1;
        width: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        height: 100%;
        background: transparent;
        border-radius: inherit;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        padding-left: px2rem($select-padding-left);
        padding-right: px2rem($select-padding-right);
        border: none;
    }
    .g-select-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: px2rem($mark-font-size);
        color: $g-ignore-color;
        width: px2rem($mark-width);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: inherit;
        border: px2rem(1) dashed $g-border-color-default;
        border-top: none;
        border-bottom: none;
    }
}
