@import "../config/config";

//文本框
.g-textarea {
    width: 100%;
    height: px2rem(120);
    line-height: px2rem(20);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: px2px(1) solid $g-border-color-default;
    border-left: none;
    border-right: none;
    border-radius: px2rem(0);
    .g-textarea-text {
        min-width: px2rem(120);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & ~ .g-textarea-textarea {
            border-left: px2px(1) solid $g-border-color-default;
        }
    }
    .g-textarea-textarea {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        flex: 1;
        height: 100%;
        font-family: inherit;
        line-height: inherit;
        background: inherit;
        border-radius: inherit;
        box-sizing: border-box;
        text-align: justify;
        resize: none;
        padding: px2rem(10);
        border: none;
    }
}
