@import "../config/config";

//全局的容器
.g-wrap {
    $w: 200;
    .g-menu {
        width: px2px($w);
        background: #252834;
        color: #8a8d96;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        overflow: auto;
        user-select: none;
        .g-menu-item {
            .g-menu-item-title {
                display: flex;
                align-items: center;
                padding: 0 px2px(5);
                line-height: px2px(30);
                .g-menu-item-title-icon {
                    width: px2px(14);
                    margin-right: px2px(5);
                }
                &:hover {
                    background: #383c49;
                }
            }
            .g-menu-item-body {
                display: none;
                line-height: px2px(30);
                .g-menu-item-body-item {
                    cursor: pointer;
                    padding: 0 px2px(5) 0 px2px(30);
                    &.g-menu-item-body-item-active, &.g-menu-item-body-item-active:hover {
                        background: $g-background-color-floor;
                        color: #252834;
                    }
                    &:hover {
                        background: #383c49;
                    }
                }
            }
            &.g-menu-item-active {
                .g-menu-item-title-icon {
                    transform: rotate(90deg);
                }
                .g-menu-item-body {
                    display: block;
                }
            }
        }
    }

    .g-main {
        margin-left: px2px($w);
        padding: px2px(20);
    }
}
