@import "../config/config";

//单选框
.g-radio {
    $height: 20.4;
    text-align: center;
    height: px2rem($height);
    display: flex;
    align-items: center;
    .g-radio-wrap {
        position: relative;
        width: px2rem($height);
        height: 100%;
        background: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .g-radio-radio {
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            outline: none;
            width: inherit;
            height: inherit;
            background: inherit;
            border-radius: inherit;
            border: px2px(1) solid $g-border-color-default;
            &:checked {
                border-color: $g-highlight-color;
                & + .g-radio-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .g-radio-mark {
            color: $g-highlight-color;
            font-size: px2rem(16);
            position: absolute;
            left: 0;
            top: 0;
            width: inherit;
            height: inherit;
            display: none;
            //&:before {
            //    width: inherit;
            //    height: inherit;
            //    display: flex;
            //    align-items: center;
            //    justify-content: center;
            //    line-height: 1;
            //}
        }
    }
    .g-radio-text {
        line-height: 1;
        margin-left: px2rem(10);
    }
}
