<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <div class="g-list-wrap">
                    <% dataInfo.page.routesRender.forEach(function (v) { %>
                    <a href="<%= v.route %>" class="g-list">
                        <div class="g-list-body">
                            <div class="g-list-body">
                                <div class="g-list-body-logo iconfont icon-dev"></div>
                                <div class="g-list-body-text"><%= v.name %></div>
                            </div>
                            <div class="g-list-body">
                                <div class="g-list-body-icon iconfont icon-more"></div>
                            </div>
                        </div>
                    </a>
                    <% }) %>
                </div>
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
