<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/header.ejs %>
            <div class="g-body">
                <!--page start-->
                <!--
                十滴水共6x6=36个格，可以分为三类，
                四个角上每滴水破裂后只有两滴水向外流，
                四条边上每滴水破裂后有三滴水向外流，
                中间25个格的水滴破裂后有四滴水向外流，
                每次连续破裂3滴加1滴水。
                因此要尽量把有限的加水次数运用在中间格。
                另外水滴破裂的排列有一定规律可循，例如：直线的34442，34433，43442等等都是可以一次打破的（其他排列规律自己摸索）。
                还需注意的是要注意各个水滴周围的情况，
                免得浪费加水次数。
                另外在大水滴在外面边角的时候，不要想一次全部清干净，要利用大水滴来维持已有的加水次数，
                然后清空内部的小水滴（十滴水并不是一定要一次全部打完，要用最少的水把水滴爆完）。
                特别要注意开始要从中间爆，然后加水破裂周边的水滴。还要观察爆水的顺序，这样做的话一般情况达到20+是很容易的，
                除了技术外还要看运气了。
                #b8e2f6 背景
                #66ccff 线条
                -->
                <!--page end-->
            </div>
            <% include ../commons/footer.ejs %>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
