.g-display-none {
    display: none;
}

.g-display-block {
    display: block;
}

.g-display-flex {
    display: flex;
}
//以下改怎么设计有待考量
.g-center-x {
    justify-content: center;
}

.g-center-y {
    align-items: center;
}

.g-center-xy {
    justify-content: center;
    align-items: center;
}
.g-color-warn{

}
.g-color-highlight{

}
.g-bg-warn{

}