<div class="g-footer">
    <div class="g-copyright-wrap"></div>
    <div class="g-footer-nav-wrap"></div>
</div>
<input type="hidden" id="page-info-str" value="{{pageInfoStr}}">
<script>
    var pageInfo = (function () {
        var input = document.querySelector('#page-info-str');
        var value = input.value;
        input.parentNode.removeChild(input);
        try {
            return JSON.parse(value);
        } catch (err) {
            console.log(err);
            return value || {};
        }
    })();
</script>