<!--字符编码-->
<meta charset="UTF-8">
<!--窗口宽度等于设备宽度以及禁止缩放-->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<!--是否需要默认的工具栏和菜单栏(针对苹果手机,默认值yes,需要)-->
<meta name="apple-mobile-web-app-capable" content="yes">
<!--控制状态栏的样式(针对苹果手机,黑色)-->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--禁止把数字转化为电话号码(针对苹果手机)-->
<meta name="format-detection" content="telephone=no">
<!--启用360浏览器的极速模式(webkit)-->
<meta name="renderer" content="webkit">
<!--uc强制竖屏-->
<meta name="screen-orientation" content="portrait">
<!--qq强制竖屏-->
<meta name="x5-orientation" content="portrait">
<!--禁止浏览器自动放大字体(针对UC手机)-->
<meta name="wap-font-scale" content="no">
<!--搜索引擎抓取-->
<meta name="robots" content="index,follow"/>
<!--页面描述-->
<meta name="description" content="zhouhuafei,周华飞"/>
<!--页面关键词-->
<meta name="keywords" content="zhouhuafei,周华飞"/>
<!--页面作者-->
<meta name="author" content="zhouhuafei,周华飞,1123486116@qq.com"/>
<!--页面标题-->
<title>{{pageInfo.data.title}}</title>
<!--<script src="http://wechatfe.github.io/vconsole/lib/vconsole.min.js?v=2.5.2"></script>-->