// 背景
$g-background-color-floor: #f4f4f4; // 底色(自定义)
$g-background-color-default: #bbbbbb; // 默认(自定义)
$g-background-color-disabled: #ebebe4; // 禁用(自定义)
$g-background-color-block: #ffffff; // 区块的背景色(自定义)

// 字体
$g-font-color-default: #333333; // 默认(自定义)
$g-font-color-disabled: #91918e; // 禁用(自定义)

// 边框
$g-border-color-default: #e6e7ed; // 默认(自定义)
$g-border-color-disabled: #a9a9a9; // 禁用(自定义)

// 语义
$g-highlight-color: #0089ff; // 高亮(自定义)
$g-success-color: #67C23A; // 成功(嫩绿)
$g-warning-color: #eb9e05; // 警告(鲜橙)
$g-danger-color: #fa5555; // 危险(艳红)
$g-ignore-color: #bfbfbf; // 忽视(浅灰)
$g-mask-color: rgba(0, 0, 0, 0.6); // 遮罩(黑色)
$g-select-color: #409eff; // 选中(蓝色)
