<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <div class="page-item">感谢使用。</div>
                <div class="page-item">更多功能敬请期待。</div>
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
