<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <form data-method="put" action="<%= dataInfo.api['password-modify'].route %>">
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">用户名:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-main">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="text" name="username" value="<%= dataInfo.userInfo.username %>" placeholder="请输入用户名">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">旧密码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-main">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="password" name="old-password" value="" placeholder="请输入旧密码">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">新密码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-main">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="password" name="new-password" value="" placeholder="请输入新密码">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">重复新密码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-main">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="password" name="repeat-new-password" value="" placeholder="请再次输入新密码">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">验证码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-main">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="text" name="verify-code-canvas" value="" placeholder="请输入验证码">
                                    </span>
                                    <span class="g-verify-code-canvas"><img src="<%= dataInfo.page.verifyCodeCanvas.base64 %>" alt=""></span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="g-button g-width_100p g-border-radius-0 g-margin-top_10">修改</button>
                    <div class="g-jump-guide">
                        <a href="<%= dataInfo.routes['password-reset'].route %>" class="g-jump-guide-item">
                            <span class="g-jump-guide-item-text">忘记密码,去重置</span>
                            <span class="g-jump-guide-item-icon iconfont icon-right"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
