<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <!--page start-->
                <!--page end-->
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
