<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <form id="form" method="post" action="<%= dataInfo.api.register.route %>">
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">用户名:</span>
                                <span class="g-form-body-content">
                                <span class="g-form-body-content-body">
                                    <input class="g-input js-validate-form"
                                           data-validate="no-empty"
                                           data-hint="本项必填"
                                           type="text" name="username" id="username" value="" placeholder="请输入用户名">
                                </span>
                                <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">密码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-body">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="password" name="password" id="password" value="" placeholder="请输入密码">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">重复密码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-body">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="password" name="repeat-password" id="repeat-password" value="" placeholder="请再次输入密码">
                                    </span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <label class="g-form-body">
                                <span class="g-form-body-text">验证码:</span>
                                <span class="g-form-body-content">
                                    <span class="g-form-body-content-body">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty"
                                               data-hint="本项必填"
                                               type="text" name="verify-code-canvas" id="verify-code-canvas" value="" placeholder="请输入验证码">
                                    </span>
                                    <span class="g-verify-code-canvas"><img src="<%= dataInfo.page.verifyCodeCanvas.base64 %>" alt=""></span>
                                    <span class="g-form-body-content-icon iconfont icon-clear"></span>
                                    <span class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="g-button js-button">注册</div>
                    <div class="g-jump-guide">
                        <a href="<%= dataInfo.routes['login'].route %>" class="g-jump-guide-item">
                            <span class="g-jump-guide-item-text">已有账号,去登陆</span>
                            <span class="g-jump-guide-item-icon iconfont icon-right"></span>
                        </a>
                        <a href="<%= dataInfo.routes['password-modify'].route %>" class="g-jump-guide-item">
                            <span class="g-jump-guide-item-text">更改密码,去修改</span>
                            <span class="g-jump-guide-item-icon iconfont icon-right"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
