<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <form id="form" method="post" action="<%= dataInfo.api.register.route %>">
                    <div class="page-item">
                        <label class="g-input">
                            <span class="g-input-text">用户名:</span>
                            <input class="g-input-input page-validate-form"
                                   data-validate="no-empty"
                                   data-hint="本项必填"
                                   type="text" name="username" id="username" value="" placeholder="请输入用户名">
                            <span class="g-input-icon iconfont icon-clear"></span>
                            <span class="g-input-hint iconfont icon-required"></span>
                        </label>
                    </div>
                    <div class="page-item">
                        <label class="g-input">
                            <span class="g-input-text">密码:</span>
                            <input class="g-input-input page-validate-form"
                                   data-validate="no-empty"
                                   data-hint="本项必填"
                                   type="password" name="password" id="password" value="" placeholder="请输入密码">
                            <span class="g-input-icon iconfont icon-clear"></span>
                            <span class="g-input-hint iconfont icon-required"></span>
                        </label>
                    </div>
                    <div class="page-item">
                        <label class="g-input">
                            <span class="g-input-text">重复密码:</span>
                            <input class="g-input-input page-validate-form"
                                   data-validate="no-empty"
                                   data-hint="本项必填"
                                   type="password" name="repeat-password" id="repeat-password" value="" placeholder="请再次输入密码">
                            <span class="g-input-icon iconfont icon-clear"></span>
                            <span class="g-input-hint iconfont icon-required"></span>
                        </label>
                    </div>
                    <div class="page-item">
                        <label class="g-input">
                            <span class="g-input-text">验证码:</span>
                            <input class="g-input-input page-validate-form"
                                   data-validate="no-empty"
                                   data-hint="本项必填"
                                   type="text" name="verify-code" id="verify-code" value="" placeholder="请输入验证码">
                            <span class="g-verify-code-canvas"></span>
                            <span class="g-input-icon iconfont icon-clear"></span>
                            <span class="g-input-hint iconfont icon-required"></span>
                        </label>
                    </div>
                    <div class="g-button js-button">注册</div>
                    <div class="page-guide-wrap">
                        <a href="<%= dataInfo.routes['login'].route %>" class="page-guide-item">
                            <span>已有账号,去登陆</span>
                            <span class="iconfont icon-right"></span>
                        </a>
                        <a href="<%= dataInfo.routes['password-modify'].route %>" class="page-guide-item">
                            <span>更改密码,去修改</span>
                            <span class="iconfont icon-right"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
