<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <!--page start-->
                <form action="" data-method="get">
                    <div class="g-title">列表系列</div>
                    <div class="g-list-wrap">
                        <div class="g-list">
                            <div class="g-list-body">
                                <div class="g-list-body">
                                    <div class="g-list-body-logo iconfont icon-home"></div>
                                    <div class="g-list-body-text">首页</div>
                                </div>
                                <div class="g-list-body">
                                    <div class="g-list-body-value">有新的消息</div>
                                    <div class="g-list-body-icon iconfont icon-more"></div>
                                </div>
                            </div>
                            <div class="g-list-footer">首页啥都没有</div>
                        </div>
                        <div class="g-list">
                            <div class="g-list-body">
                                <div class="g-list-body">
                                    <div class="g-list-body-logo iconfont icon-home"></div>
                                    <div class="g-list-body-text">我的</div>
                                </div>
                                <div class="g-list-body">
                                    <div class="g-list-body-value">99</div>
                                    <div class="g-list-body-icon iconfont icon-more"></div>
                                </div>
                            </div>
                            <div class="g-list-footer">我的页面也啥都没有</div>
                        </div>
                    </div>
                    <div class="g-title">表单系列</div>
                    <div class="g-form-wrap">
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">密码:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                        <input class="g-input js-validate-form"
                                               data-validate="no-empty no-zero yes-positive-integer"
                                               data-hint="本项必填 本项不可为零 请输入正整数"
                                               type="password" name="website-password" value="" placeholder="请输入网站标题">
                                    </div>
                                    <div class="g-form-body-content-icon iconfont icon-eye-off"></div>
                                    <div class="g-form-body-content-icon iconfont icon-clear"></div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">电话:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                        <input class="g-input js-validate-form js-g-positive-integer"
                                               data-validate="no-empty no-zero yes-positive-integer yes-phone"
                                               data-hint="本项必填 本项不可为零 请输入正整数 手机号码格式错误"
                                               type="tel" name="website-phone" value="" placeholder="请输入联系电话">
                                    </div>
                                    <div class="g-form-body-content-icon iconfont icon-clear"></div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">信息展示:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                        <div class="g-form-body-content-body-text">信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示信息展示</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">g-form-body-text:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                        <input placeholder="请输入" class="g-input js-validate-form"
                                               data-validate="no-empty no-zero yes-positive-integer"
                                               data-hint="本项必填 本项不可为零 请输入正整数"
                                               type="text">
                                    </div>
                                    <div class="g-form-body-content-limit">0/100</div>
                                    <div class="g-form-body-content-icon iconfont icon-clear"></div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">g-form-body-text:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                        <div class="g-radio">
                                            <div class="g-radio-body">
                                                <input title="" class="g-radio-body-radio js-validate-form"
                                                       data-event="change"
                                                       data-validate="no-empty"
                                                       data-hint="本项必选"
                                                       type="radio" name="sex" value="male">
                                                <div class="g-radio-body-mark iconfont icon-radio"></div>
                                            </div>
                                            <div class="g-radio-text">男</div>
                                        </div>
                                        <div class="g-radio">
                                            <div class="g-radio-body">
                                                <input title="" class="g-radio-body-radio js-validate-form"
                                                       data-event="change"
                                                       data-validate="no-empty"
                                                       data-hint="本项必选"
                                                       type="radio" name="sex" value="female">
                                                <div class="g-radio-body-mark iconfont icon-radio"></div>
                                            </div>
                                            <div class="g-radio-text">女</div>
                                        </div>
                                    </div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">g-form-body-text:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body g-form-body-content-body-more-row">
                                        <label class="g-checkbox">
                                        <span class="g-checkbox-body">
                                            <input checked title="" class="g-checkbox-body-checkbox js-validate-form"
                                                   data-event="change"
                                                   data-validate="no-empty yes-limit-length-2"
                                                   data-hint="本项必选 仅能选择2个" type="checkbox" name="hobby[]" value="pingpangqiu">
                                            <span class="g-checkbox-body-mark iconfont icon-checkbox"></span>
                                        </span>
                                            <span class="g-checkbox-text">天</span>
                                        </label>
                                        <label class="g-checkbox">
                                        <span class="g-checkbox-body">
                                            <input checked title="" class="g-checkbox-body-checkbox js-validate-form"
                                                   data-event="change"
                                                   data-validate="no-empty yes-limit-length-2"
                                                   data-hint="本项必选 仅能选择2个" type="checkbox" name="hobby[]" value="lanqiu">
                                            <span class="g-checkbox-body-mark iconfont icon-checkbox"></span>
                                        </span>
                                            <span class="g-checkbox-text">地</span>
                                        </label>
                                        <label class="g-checkbox">
                                        <span class="g-checkbox-body">
                                            <input checked title="" class="g-checkbox-body-checkbox js-validate-form"
                                                   data-event="change"
                                                   data-validate="no-empty yes-limit-length-2"
                                                   data-hint="本项必选 仅能选择2个" type="checkbox" name="hobby[]" value="zuqiu">
                                            <span class="g-checkbox-body-mark iconfont icon-checkbox"></span>
                                        </span>
                                            <span class="g-checkbox-text">人</span>
                                        </label>
                                    </div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">g-form-body-text:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                    <span class="g-select">
                                        <select class="g-select-body js-validate-form"
                                                data-event="change"
                                                data-validate="no-empty"
                                                data-hint="本项必选"
                                                name="" title="请选择你喜欢的球类">
                                            <option value="">请选择你喜欢的球类</option>
                                            <option value="1">乒乓球</option>
                                            <option value="2">篮球</option>
                                        </select>
                                        <span class="g-select-mark iconfont icon-select"></span>
                                    </span>
                                    </div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">网站logo:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body g-form-body-content-body-more-row">
                                        <label class="g-upload g-upload-active">
                                            <input class="g-upload-input" accept="image/gif, image/jpeg, image/png" type="file">
                                            <input type="hidden" name="website-logo">
                                            <span class="g-upload-icon iconfont icon-upload-img"></span>
                                            <span class="g-upload-show"></span>
                                            <span class="g-upload-text">640*640</span>
                                            <span class="g-upload-opts">
                                                <span class="g-upload-opts-item g-upload-opts-close iconfont icon-delete"></span>
                                            </span>
                                        </label>
                                        <label class="g-upload g-upload-active">
                                            <input class="g-upload-input" accept="image/gif, image/jpeg, image/png" type="file">
                                            <input type="hidden" name="website-logo">
                                            <span class="g-upload-icon iconfont icon-upload-img"></span>
                                            <span class="g-upload-show"></span>
                                            <span class="g-upload-text">640*640</span>
                                            <span class="g-upload-opts">
                                                <span class="g-upload-opts-item g-upload-opts-close iconfont icon-delete"></span>
                                            </span>
                                        </label>
                                        <label class="g-upload">
                                            <input class="g-upload-input js-validate-form js-upload-input"
                                                   data-event="change"
                                                   data-validate="no-empty yes-limit-length-1"
                                                   data-hint="本项必传 最多上传1张图片"
                                                   data-value="true"
                                                   accept="image/gif, image/jpeg, image/png" type="file">
                                            <input type="hidden" name="">
                                            <span class="g-upload-icon iconfont icon-upload-img"></span>
                                            <span class="g-upload-show"></span>
                                            <span class="g-upload-text">640*640</span>
                                            <span class="g-upload-opts">
                                                <span class="g-upload-opts-item g-upload-opts-close iconfont icon-delete"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                            <div class="g-form-footer">
                                <div class="g-form-footer-text">这里是补充信息，对此项进行补充说明。例如：请上传指定格式的图片。</div>
                            </div>
                        </div>
                        <div class="g-form">
                            <div class="g-form-body">
                                <div class="g-form-body-text">g-form-body-text:</div>
                                <div class="g-form-body-content">
                                    <div class="g-form-body-content-body">
                                    <textarea class="g-textarea js-validate-form"
                                              data-validate="no-empty no-zero yes-positive-integer no-999"
                                              data-hint="本项必填 本项不可为零 请输入正整数 不允许是999"
                                              placeholder="请输入">999</textarea>
                                    </div>
                                    <div class="g-form-body-content-limit">0/100</div>
                                    <div class="g-form-body-content-icon iconfont icon-clear"></div>
                                    <div class="g-form-body-content-icon g-form-body-content-hint iconfont icon-required"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-display-flex g-align-items-center g-margin-top-10">
                        <input class="g-submit g-margin-right-10" type="submit" value="submit">
                        <div title="" class="g-button js-button">保存</div>
                    </div>
                </form>
                <!--page end-->
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
