<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../commons/head.ejs %>
    </head>
    <body>
        <% include ../commons/top.ejs %>
        <div class="g-wrap">
            <% include ../commons/menu.ejs %>
            <div class="g-body">
                <div class="page-item">
                    <label class="g-input">
                        <span class="g-input-text">网站名称:</span>
                        <input class="g-input-input page-validate-form"
                               data-validate="no-empty no-zero yes-positive-integer"
                               data-hint="本项必填 本项不可为零 请输入正整数"
                               type="text" name="website-name" id="website-name" value="" placeholder="请输入网站标题">
                        <span class="g-input-icon iconfont icon-clear"></span>
                        <span class="g-input-hint iconfont icon-required"></span>
                    </label>
                </div>
                <div class="page-item">
                    <label class="g-input">
                        <span class="g-input-text">联系电话:</span>
                        <input class="g-input-input page-validate-form"
                               data-validate="no-empty no-zero yes-positive-integer"
                               data-hint="本项必填 本项不可为零 请输入正整数"
                               type="tel" name="website-phone" id="website-phone" value="" placeholder="请输入联系电话">
                        <span class="g-input-icon iconfont icon-clear"></span>
                        <span class="g-input-hint iconfont icon-required"></span>
                    </label>
                </div>
                <div class="g-form-wrap">
                    <div class="g-form">
                        <div class="g-form-left">网站logo:</div>
                        <div class="g-form-right">
                            <label class="g-img-upload">
                                <input class="g-img-upload-input" type="file" accept="image/gif,image/jpg,image/png">
                                <span class="g-img-upload-icon iconfont icon-upload"></span>
                                <span class="g-img-upload-show"></span>
                                <span class="g-img-upload-text">640*640</span>
                                <span class="g-img-upload-opts">
                                    <span class="g-img-upload-opts-item g-img-upload-opts-close iconfont icon-delete"></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="g-form-wrap">
                    <div class="g-form">
                        <div class="g-form-left">g-form-left:</div>
                        <div class="g-form-right">
                            <input type="text">
                        </div>
                        <div class="g-form-icon">g-form-icon</div>
                        <div class="g-form-hint">g-form-hint</div>
                    </div>
                    <div class="g-form">
                        <div class="g-form-left">g-form-left:</div>
                        <div class="g-form-right">
                            <select name="" id=""></select>
                        </div>
                        <div class="g-form-icon">g-form-icon</div>
                        <div class="g-form-hint">g-form-hint</div>
                    </div>
                    <div class="g-form">
                        <div class="g-form-left">g-form-left:</div>
                        <div class="g-form-right">
                            <textarea></textarea>
                        </div>
                        <div class="g-form-icon">g-form-icon</div>
                        <div class="g-form-hint">g-form-hint</div>
                    </div>
                </div>
                <div class="g-display-flex">
                    <div class="g-button">保存</div>
                </div>
            </div>
        </div>
        <% include ../commons/bottom.ejs %>
    </body>
</html>
