@import "../config/config";

// 按钮
.g-gallery-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 501;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .g-gallery {
        width: 80%;
        height: px2rem(40*16);
        display: flex;
        background: #ffffff;
        position: relative;
        z-index: 501;
    }
    .g-gallery-category {
        overflow: auto;
        $size: 120;
        width: px2rem($size);
        min-width: px2rem($size);
        background: #252834;
        color: #ffffff;
        .g-gallery-category-item {
            $size: 40;
            height: px2rem($size);
            line-height: px2rem($size);
            text-align: right;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 px2rem(10);
            &.g-gallery-category-item_active {
                color: #252834;
                background: #ffffff;
            }
        }
    }
    .g-gallery-content {
        flex: 1;
        .g-gallery-content-header {
        }
        .g-gallery-content-body {
        }
        .g-gallery-content-footer {
        }
    }
    .g-gallery-options {
        width: px2rem(200);
        min-width: px2rem(200);
    }
}
