@import "../base/config";
/*加载更多的底部加载中*/
.m-loading {
    width: inherit;
    @keyframes run {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .m-loading-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $g-color-font-default;
        padding: px2rem(20) 0;
        box-sizing: border-box;
    }
    //加载中
    &.m-loading-loading {
        .m-loading-loading-icon {
            font-size: px2rem(30);
            animation: run 1s linear infinite;
        }
        .m-mask ~ .m-loading-loading-icon {
            color: #ffffff;
            position: relative;
            z-index: 502;
        }
        //相对于文档居中
        &.m-loading-fixed {
            .m-loading-wrap {
                position: fixed;
                width: inherit;
                z-index: 501;
            }
            &.m-loading-top {
                .m-loading-wrap {
                    top: 0;
                }
            }
            &.m-loading-center {
                .m-loading-wrap {
                    top: 0;
                    height: 100%;
                }
            }
            &.m-loading-bottom {
                .m-loading-wrap {
                    bottom: 0;
                }
            }
        }
        //相对于容器居中
        &.m-loading-absolute {
            .m-loading-wrap {
                position: absolute;
                left: 0;
                width: 100%;
                z-index: 501;
            }
            &.m-loading-top {
                .m-loading-wrap {
                    top: 0;
                }
            }
            &.m-loading-center {
                .m-loading-wrap {
                    top: 0;
                    height: 100%;
                }
            }
            &.m-loading-bottom {
                .m-loading-wrap {
                    bottom: 0;
                }
            }
        }
    }

    //加载完毕
    &.m-loading-over {
        .m-loading-over-icon {
            font-size: px2rem(24);
        }
        .m-loading-over-txt {
            font-size: px2rem(12);
        }
        .m-mask ~ .m-loading-over-icon, .m-mask ~ .m-loading-over-txt {
            color: #ffffff;
            position: relative;
            z-index: 502;
        }
        &.m-loading-fixed {
            .m-loading-wrap {
                position: fixed;
                top: 0;
                width: inherit;
                height: 100%;
                z-index: 501;
            }
        }
        &.m-loading-absolute {
            .m-loading-wrap {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 501;
            }
        }
    }
}
