@import "../config/config";
@import "../mixin/mixin";

//清零样式

body {
    color: $color-font-default;
    font-family: "Microsoft Yahei", "sans-serif";
    font-size: px2rem(16);
}

body, p, figure, menu, ol, ul, dl, dd, h1, h2, h3, h4, h5, h6, input, button, textarea {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.iconfont {
    font-size: inherit;
}

//不要在这里写其他的css样式,自己的样式写自己的页面好吧,清零样式尽量保持通用,模块保持模块样式的完整