//基础样式
@import "../base/config";
//弹窗测试
@import "../components/g-dialog";
//分页测试
@import "../components/g-pagination";
//加载中
@import "../components/g-loading";
//单选开关
@import "../components/g-radio-switch";
//表格
@import "../components/g-table";
//星评
@import "../components/g-star";
//导航
@import "../components/g-navigation";
//slide切换
@import "../components/g-slide";

//页面样式
.g-body {
    .page-slide {
        height: px2rem(160);
    }
    .page-star {
        margin-top: px2rem(10);
    }
    .page-radio-switch {
        margin-top: px2rem(10);
    }
    .page-table {
        margin-top: px2rem(10);
    }
    .page-super-type {
        text-align: center;
    }
}