//基础样式
@import "../base/config";

//页面样式
.g-body {
    //样式待续...
    .page-input-wrap {
        margin: px2px(10) 0;
    }
    .page-guide-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: px2px(40);
        padding: 0 px2px(10);
        .page-guide-item {
            color: $g-font-color-dark;
            display: flex;
            align-items: center;
        }
    }
}