//基础样式
@import "../base/config";

//页面样式
.page-canvas {
    height: px2rem(40);
    margin-bottom: 20px;
}

.g-body {
    //样式待续...
    .page-input-wrap {
        margin-bottom: px2px(10);
    }
    .page-guide-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: px2px(40);
        padding: 0 px2px(10);
        .page-guide-item {
            display: flex;
            align-items: center;
        }
    }
    .page-verify-code {
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $g-warning-color;
        color: #ffffff;
    }
}