@import "../base/base";
//模块显示
.page-module-show {
    & > div {
        padding: 0 px2rem(4) px2rem(20);
    }
    //单选开关
    @import "../modules/m-radio-switch";
    .main-radio-switch {
        display: flex;
        justify-content: center;
    }

    //表格
    @import "../modules/m-table";

    //input验证
    @import "../modules/m-validate-input";
    .main-input {
        display: flex;
        align-items: center;
        .input-txt {
            text-align: right;
            margin-right: px2rem(10);
        }
    }

    //星评
    @import "../modules/m-star";

    //列表
    @import "../modules/m-product";
    .main-product {
        @include clear-fix;
        padding: 0 0 px2rem(20) 0;
    }
}

.page-des {
    font-size: px2rem(30);
    color: $g-color-font-highlight;
}

//ui展示
.page-global-show {
    & > div {
        padding: px2rem(20) px2rem(4) 0;
    }
}