@import "../base/base";

.page-index>div{
    margin-top: px2rem(10);
}

//单选开关
@import "../modules/m-radio-switch";
.main-radio-switch{
    display: flex;
    justify-content: center;
}

//表格
@import "../modules/m-table";

//input验证
@import "../modules/m-validate-input";

.main-input {
    label, span, em {
        display: inline-block;
    }
    input {
        border: 1px solid $color-border-default;
        height: 30px;
        line-height: 30px;
        outline: none;
        padding: 0 5px;
        width: 200px;
    }
    .input-txt {
        width: 50px;
        text-align: right;
        margin-right: 10px;
    }
}

//星评
@import "../modules/m-star";
.main-star {
    text-align: center;
}

//列表
@import "../modules/m-product";
.main-product {
    @include clear-fix;
}