@import "../base/base.scss";

//没有数据
@import "../modules/m-no-data.scss";

//加载中
@import "../modules/m-loading.scss";

//返回顶部
@import "../modules/m-go-top.scss";

//单选开关
@import "../modules/m-radio-switch.scss";
.page-radio-switch {
    display: flex;
    justify-content: center;
}

//表格
@import "../modules/m-table.scss";

//input验证
@import "../modules/m-validate-form.scss";
.page-input {
    display: flex;
    align-items: center;
    .input-txt {
        text-align: right;
        margin-right: px2rem(10);
    }
}

//星评
@import "../modules/m-star.scss";
.page-star{
    display: flex;
    justify-content: center;
}

//page
.page-module-show {
    & > div {
        padding: 0 px2rem(10) px2rem(20);
    }
}

.page-des {
    font-size: px2rem(30);
    color: $g-color-font-highlight;
    text-align: center;
}

.page-global-show {
    & > div {
        padding: px2rem(20) px2rem(20) 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}