//基础样式
@import "../base/base";
//弹窗测试
@import "../modules/m-dialog";
//分页测试
@import "../modules/m-pagination";
//没有数据
@import "../modules/m-no-data";
//加载中
@import "../modules/m-loading";
//返回顶部
@import "../modules/m-go-top";
//单选开关
@import "../modules/m-radio-switch";
//表格
@import "../modules/m-table";
//input验证
@import "../modules/m-validate-form";
//星评
@import "../modules/m-star";
//导航
@import "../modules/m-navigation";
//slide切换
@import "../modules/m-slide";
//页面样式
.page-wrap {
    .page-slide {
        height: px2rem(160);
    }
    .page-input {
        @include center-xy-flex;
        margin-top: px2rem(20);
    }
    .page-checkbox {
        margin-top: px2rem(10);
        @include center-xy-flex;
    }
    .page-radio {
        margin-top: px2rem(10);
        @include center-xy-flex;
    }
    .g-button {
        margin: px2rem(10) auto 0;
    }
    .page-select {
        margin-top: px2rem(10);
        @include center-xy-flex;
    }
    .page-star {
        margin-top: px2rem(10);
    }
    .g-textarea {
        margin: px2rem(10) auto 0;
    }
    .g-list {
        margin-top: px2rem(10);
    }
    .page-radio-switch {
        margin-top: px2rem(10);
    }
    .m-table {
        margin-top: px2rem(10);
    }
    .g-img-upload {
        margin: px2rem(10) auto 0;
    }
    .page-super-type {
        text-align: center;
    }
    .page-button {
        margin-top: px2rem(10);
        .g-button {
            margin-top: 0;
        }
        display: flex;
    }
}