<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    <link href="/dist/phone/css/pages/this-is-global-file-common.css" rel="stylesheet"><link href="/dist/phone/css/pages/dev-components.css" rel="stylesheet"></head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-slide"></div>
                <div class="page-navigation"></div>
                <div class="page-pagination"></div>
                <div class="page-no-data"></div>
                <div class="page-super-type"></div>
                <div class="page-radio-switch"></div>
                <div class="page-table"></div>
                <div class="page-star"></div>
            </div>
            <!--page end-->
            {{>phone/partials/footer}}
        </div>
    <script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-manifest.js"></script><script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-vendor.js"></script><script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-common.js"></script><script type="text/javascript" src="/dist/phone/js/pages/dev-components.js"></script></body>
</html>