<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/partials/head}}
    <link href="/dist/phone/css/pages/this-is-global-file-common.css" rel="stylesheet"><link href="/dist/phone/css/pages/password-find.css" rel="stylesheet"></head>
    <body>
        <div class="g-wrap">
            {{>phone/partials/header}}
            <!--page start-->
            <div class="g-body">
                <!--结构待续...-->
            </div>
            <!--page end-->
            {{>phone/partials/footer}}
        </div>
    <script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-manifest.js"></script><script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-vendor.js"></script><script type="text/javascript" src="/dist/phone/js/pages/this-is-global-file-common.js"></script><script type="text/javascript" src="/dist/phone/js/pages/password-find.js"></script></body>
</html>