

//清除浮动
@mixin clear-fix() {
    &:after {
        content: '';
        clear: both;
        display: block;
        height: 0;
        overflow: hidden;
    }
}

//垂直水平居中(伪类)
@mixin center-xy-sham() {
    font-size: 0;
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

//垂直水平居中(flex)
@mixin center-xy-flex(){
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

//省略号
@mixin ellipsis($lineClamp:1, $lineHeight:px2rem(18)) {
    display: block;
    line-height: $lineHeight;
    height: $lineHeight * $lineClamp;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
}