<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/min/html/partials/head}}
    <link rel="shortcut icon" href="/phone/min/favicon.ico"><link href="/phone/min/500.css" rel="stylesheet"></head>
    <body>
        <div class="g-wrap">
            {{>phone/min/html/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-500"></div>
            </div>
            <!--page end-->
            {{>phone/min/html/partials/footer}}
        </div>
    <script type="text/javascript" src="/phone/min/500.js"></script></body>
</html>