<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/dev/html/partials/head}}
    <link rel="shortcut icon" href="/phone/min/favicon.ico"><link href="/phone/min/home.css" rel="stylesheet"></head>
    <body>
        <div class="g-wrap">
            {{>phone/dev/html/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="page-slide"></div>
                <div class="page-navigation"></div>
                <img src="/phone/min/26ecaf537634da6a2231d3993a7fa85a.png" alt="">
            </div>
            <!--page end-->
            {{>phone/dev/html/partials/footer}}
        </div>
    <script type="text/javascript" src="/phone/min/home.js"></script></body>
</html>