@import "../reset/reset";
@import "iconfont";
@import "tools";
@import "../components/g-wrap";
@import "../components/g-button";
@import "../components/g-input";
@import "../components/g-quick-enter";
@import "../components/g-img-upload";
@import "../components/g-list";
@import "../components/g-checkbox";
@import "../components/g-radio";
@import "../components/g-select";
@import "../components/g-textarea";
@import "../components/g-dialog";
@import "../components/g-dialog-jump-link";
@import "../components/g-loading";
@import "../components/g-navigation";
@import "../components/g-pagination";
@import "../components/g-radio-switch";
@import "../components/g-slide";
@import "../components/g-star";
@import "../components/g-table";
@import "../components/g-go-top";
@import "../components/g-footer-nav";
@import "../components/g-copyright";
@import "../components/g-mask";
@import "../components/g-lazy-load";
@import "../components/g-no-data";
@import "../components/g-validate-form-hint";

.g-img-list {
    .g-img-list-big img {
        width: px2rem(376, 750);
        height: px2rem(160, 750);
    }
    .g-img-list-small img {
        width: px2rem(144, 750);
        height: px2rem(147, 750);
    }
}

.g-audios-wrap {
    position: relative;
    ._icon {
        position: absolute;
        top: px2rem(40);
        left: px2rem(20);
        width: px2rem(20);
        height: px2rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        ._item-on {
            display: none;
        }
    }
    &._on {
        ._icon {
            ._item-off {
                display: none;
            }
            ._item-on {
                display: block;
            }
        }
    }
}

.g-form {
    background: #ffffff;
    border: 1px solid $g-border-color-default;
    border-left: none;
    border-right: none;
    display: flex;
    .g-form-left {
        padding: 10px;
        min-width: px2px(120);
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .g-form-right {
        padding: 10px;
        border-left: 1px solid $g-border-color-default;
    }
}

.g-verify-code-canvas {
    width: px2rem(160);
    height: 100%;
}
