@import "../config/config";

//按钮
.g-btn {
    $height: 40;
    width: px2rem(200);
    height: px2rem($height);
    display: flex;
    align-items: center;
    justify-content: center;
    .g-btn-icon {
        margin: 0 px2rem(2);
    }
    .g-btn-text {
        margin: 0 px2rem(2);
    }
    //取消
    &.g-btn-cancel {
        background: $g-color-background-dark;
        color: #fff;
    }
    //确认
    &.g-btn-confirm {
        background: $g-color-highlight;
        color: #fff;
    }
    //禁用
    &.g-btn-disable {
        background: $g-color-background-disable;
        color: $g-color-font-disable;
        cursor: not-allowed;
    }
    //铺满
    &.g-btn-full {
        width: 100%;
        border-radius: 0;
    }
}