@import "../config/config";
@import "../mixin/mixin";
@import "../zero/zero";

//全局的样式

//按钮
.g-button {
    width: px2rem(200);
    text-align: center;
    height: px2rem(40);
    line-height: px2rem(40);
    border-radius: px2rem(4);
    //默认
    &.g-button-default{
        background: $color-background-dark;
        color: #fff;
    }
    //高亮
    &.g-button-highlight{
        background: $color-background-highlight;
        color: #fff;
    }
}

//输入框
.g-input {
    width: px2rem(300);
    height: px2rem(40);
    line-height: px2rem(40);
    background: #fff;
    .g-input-label {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .g-input-input {
        outline: none;
        color: inherit;
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        box-sizing: border-box;
        padding: 0 px2rem(10);
        border: px2rem(1) solid $color-border-default;
    }
}

//下拉框
.g-select {
    $height: 40;
    $width: 300;
    $triangle-width: 10;
    $select-padding-left: 10;
    $triangle-position-right: ( $height - $triangle-width*2 ) / 2;
    $triangle-margin-top: - $triangle-width / 2;
    $select-padding-right: $height + $select-padding-left;
    position: relative;
    width: px2rem($width);
    height: px2rem($height);
    line-height: px2rem($height);
    background: #fff;
    .g-select-label {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
        .g-select-select {
            outline: none;
            color: inherit;
            font-size: inherit;
            width: inherit;
            height: inherit;
            line-height: inherit;
            box-sizing: border-box;
            -webkit-appearance: none;
            position: relative;
            z-index: 2;
            border-radius: 0;
            padding-left: px2rem($select-padding-left);
            padding-right: px2rem($select-padding-right);
            border: px2rem(1) solid $color-border-default;
        }
        .g-select-icon {
            color: $color-font-dark;
            width: px2rem($height);
            text-align: center;
            height: inherit;
            background: $color-background-default;
            position: absolute;
            right: 0;
            top: 0;
            border-left: px2rem(1) solid $color-border-default;
        }
    }
}

//文本框
.g-textarea {
    width: px2rem(300);
    height: px2rem(200);
    line-height: px2rem(30);
    background: #fff;
    .g-textarea-label {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .g-textarea-textarea {
        outline: none;
        color: inherit;
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        box-sizing: border-box;
        text-align: justify;
        resize: none;
        padding: px2rem(10);
        border: px2rem(1) solid $color-border-default;
    }
}

//单选框
.g-radio {
    width: px2rem(20);
    height: px2rem(20);
    .g-radio-label {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .g-radio-radio {
        outline: none;
        color: inherit;
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        box-sizing: border-box;
        -webkit-appearance: none;
        border: px2rem(1) solid $color-border-default;
        border-radius: px2rem(100);
        position: relative;
        &:checked {
            border-color: $color-border-highlight;
            &:after {
                content: '';
                width: 38%;
                height: 38%;
                background: $color-background-highlight;
                display: block;
                border-radius: inherit;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

//多选框
.g-checkbox {
    width: px2rem(20);
    height: px2rem(20);
    .g-checkbox-label {
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .g-checkbox-checkbox {
        outline: none;
        color: inherit;
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        box-sizing: border-box;
        -webkit-appearance: none;
        border: px2rem(1) solid $color-border-default;
        border-radius: px2rem(4);
        position: relative;
        &:checked {
            border-color: $color-border-highlight;
            &:after {
                content: '';
                position: absolute;
                left: px2rem(5);
                top: px2rem(0);
                width: px2rem(6);
                height: px2rem(12);
                border-right: 2px solid $color-border-highlight;
                border-bottom: 2px solid $color-border-highlight;
                transform: rotate(45deg);
            }
        }
    }
}

//让子集水平垂直居中
.g-center {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
