@import "../config/config";
@import "../mixin/mixin";
@import "../zero/zero";

//全局的样式

.g-radio {
    -webkit-appearance: none;
    width: px2rem(20);
    height: px2rem(20);
    border: 1px solid #ddd;
    border-radius: px2rem(1000);
    box-sizing: border-box;
    position: relative;
    &:checked {
        border: none;
        background: #fc1521;
        &:after {
            content: '';
            position: absolute;
            left: px2rem(6);
            top: px2rem(1);
            width: px2rem(6);
            height: px2rem(12);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
        }
    }
}

.g-button {

}

.g-input {
    outline: none;
    color: inherit;
    font-size: inherit;
    background: #fff;
    border: 1px solid $color-border-default;
    width: px2rem(300);
    height: px2rem(40);
    line-height: px2rem(40);
    padding: 0 px2rem(10);
    box-sizing: border-box;
}

.g-select {
    $height: 40;
    $width: 300;
    $triangle-width: 10;
    $select-padding-left: 10;
    $triangle-position-right: ( $height - $triangle-width*2 ) / 2;
    $triangle-margin-top: - $triangle-width / 2;
    $select-padding-right: $height + $select-padding-left;
    position: relative;
    width: px2rem($width);
    height: px2rem($height);
    line-height: px2rem($height);
    background: #fff;
    label{
        display: block;
        width: inherit;
        height: inherit;
        line-height: inherit;
        select{
            position: relative;
            z-index: 2;
            outline: none;
            color: inherit;
            font-size: inherit;
            width: inherit;
            height: inherit;
            line-height: inherit;
            border: px2rem(1) solid $color-border-default;
            box-sizing: border-box;
            -webkit-appearance: none;
            border-radius: 0;
            padding-left: px2rem($select-padding-left);
            padding-right: px2rem($select-padding-right);
        }
        .g-select-icon{
            width: px2rem($height);
            text-align: center;
            height: inherit;
            background: $color-background-default;
            position: absolute;
            right: 0;
            top: 0;
            border-left: px2rem(1) solid $color-border-default;
        }
    }
}

.g-textarea {
    outline: none;
    color: inherit;
    font-size: inherit;
    background: #fff;
    border: 1px solid $color-border-default;
    width: px2rem(300);
    height: px2rem(200);
    line-height: px2rem(30);
    padding: px2rem(10);
    text-align: justify;
    box-sizing: border-box;
    resize: none;
}

.g-center {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}
