@import "../config/config";

//下拉框
.g-select {
    $height: 40;
    $padding-left: 10;
    $padding-right: $height + $padding-left;
    $triangle-width: 10;
    $triangle-position-right: ( $height - $triangle-width*2 ) / 2;
    $triangle-margin-top: - $triangle-width / 2;
    width: 100%;
    height: px2rem($height);
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: px2rem(1) solid $g-color-border-default;
    box-sizing: border-box;
    position: relative;
    border-radius: px2rem(100);
    .g-select-txt {
        min-width: px2rem($height);
        padding: 0 px2rem(10);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & ~ .g-select-select {
            border-left: px2rem(1) solid $g-color-border-default;
        }
    }
    .g-select-select {
        flex: 1;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
        color: inherit;
        font-size: inherit;
        height: 100%;
        background: transparent;
        border-radius: inherit;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        padding-left: px2rem($padding-left);
        padding-right: px2rem($padding-right);
        border: none;
    }
    .g-select-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        color: $g-color-font-dark;
        width: px2rem($height);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: px2rem(1) solid $g-color-border-default;
        box-sizing: border-box;
        border-radius: inherit;
        //border-top-left-radius: 0;
        //border-bottom-left-radius: 0;
    }
}