<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/dist/views/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/dist/views/partials/header}}
            <!--page start-->
            <div class="g-body">
                <div class="g-list">
                    <a href="/phone/dev-global/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-txt">g-global</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/phone/dev-module/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-txt">m-module</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                    <a href="/phone/dev-word/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-txt">标准词汇</div>
                            </div>
                            <div class="g-list-wrap">
                                <div class="g-list-more iconfont icon-gengduo"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--page end-->
            {{>phone/dist/views/partials/footer}}
        </div>
    </body>
</html>