<!DOCTYPE html>
<html lang="en">
    <head>
        {{>phone/dist/views/partials/head}}
    </head>
    <body>
        <div class="g-wrap">
            {{>phone/dist/views/partials/header}}
            <!--page start-->
            <div class="g-body">
                <a href="" class="page-header">
                    <div class="page-header-wrap">
                        <div class="page-header-photo"></div>
                        <div class="page-header-info">
                            <div class="page-header-info-txt">周华飞</div>
                            <div class="page-header-info-txt">15551992700</div>
                        </div>
                    </div>
                    <div class="page-header-more iconfont icon-gengduo"></div>
                </a>
                <div class="g-list">
                    <a href="/dev-list/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-kaifa"></div>
                                <div class="g-list-text">开发</div>
                            </div>
                            <div class="g-list-more iconfont icon-gengduo"></div>
                        </div>
                        <div class="g-list-info">
                            提示:网站的基础样式都在这里了,想要对应的样式可以点击这里来查找哟
                        </div>
                    </a>
                </div>
                <div class="g-list">
                    <a href="/setting/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-shezhi"></div>
                                <div class="g-list-text">设置</div>
                            </div>
                            <div class="g-list-more iconfont icon-gengduo"></div>
                        </div>
                    </a>
                </div>
                <div class="g-list">
                    <a href="/game-list/" class="g-list-row">
                        <div class="g-list-wrap">
                            <div class="g-list-wrap">
                                <div class="g-list-icon iconfont icon-youxi"></div>
                                <div class="g-list-text">垃圾小游戏</div>
                            </div>
                            <div class="g-list-more iconfont icon-gengduo"></div>
                        </div>
                        <div class="g-list-info">有多垃圾,你就不想试一下么?看看有多么垃圾么?</div>
                    </a>
                </div>
            </div>
            <!--page end-->
            {{>phone/dist/views/partials/footer}}
        </div>
    </body>
</html>