@import "../config/config";

.g-body {
    .page-slide {
        height: px2rem(160);
    }
    .page-pagination {
        margin-top: px2rem(10);
    }
    .page-star {
        margin-top: px2rem(10);
    }
    .page-radio-switch {
        margin-top: px2rem(10);
    }
    .page-table {
        margin-top: px2rem(10);
    }
    .page-super-type {
        text-align: center;
    }
}
