@import "../config/config";

.g-body {
    .canvas-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        canvas {
            background: #f6cb65;
        }
    }
}
