@import "../config/config";

.g-body {
    padding-top: px2px(40);
    .page-input-wrap {
        margin-bottom: px2px(10);
    }
    .page-guide-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: px2px(40);
        padding: 0 px2px(10);
        .page-guide-item {
            display: flex;
            align-items: center;
        }
    }
}
