@import "../config/config";

.page-canvas {
    height: px2rem(60);
    background: $g-background-color-default;
}

.get-verify-code {
    width: px2rem(110);
    .g-button {
        height: 100%;
        background: $g-warning-color;
    }
    &.get-verify-code-inactive {
        .g-button {
            background: $g-background-color-disabled;
            color: $g-font-color-disabled;
        }
    }
}
