<div class="g-menu">
    <div class="g-menu-item g-menu-item-active">
        <div class="g-menu-item-title">
            <div class="g-menu-item-title-icon iconfont icon-right"></div>
            <div class="g-menu-item-title-text">网站</div>
        </div>
        <div class="g-menu-item-body">
            <div class="g-menu-item-body-item g-menu-item-body-item-active">信息</div>
            <div class="g-menu-item-body-item">信息</div>
        </div>
    </div>
    <div class="g-menu-item">
        <div class="g-menu-item-title">
            <div class="g-menu-item-title-icon iconfont icon-right"></div>
            <div class="g-menu-item-title-text">文章页</div>
        </div>
        <div class="g-menu-item-body">
            <div class="g-menu-item-body-item">列表</div>
        </div>
    </div>
    <div class="g-menu-item">
        <div class="g-menu-item-title">
            <div class="g-menu-item-title-icon iconfont icon-right"></div>
            <div class="g-menu-item-title-text">列表页</div>
        </div>
        <div class="g-menu-item-body">
            <div class="g-menu-item-body-item">列表</div>
        </div>
    </div>
</div>
