@import "../config/config";

.g-body {
    .page-input {
        margin-top: px2rem(10);
    }
    .page-select {
        margin-top: px2rem(10);
    }
    .page-textarea {
        margin-top: px2rem(10);
    }
    .page-checkbox {
        margin-top: px2rem(10);
        padding: 0 px2rem(10);
        display: flex;
        .g-checkbox {
            flex: 1;
        }
    }
    .page-radio {
        margin-top: px2rem(10);
        padding: 0 px2rem(10);
        display: flex;
        .g-radio {
            flex: 1;
        }
    }
    .page-btn {
        margin-top: px2rem(10);
        .g-button {
            margin-top: 0;
        }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-list {
        margin-top: px2rem(10);
    }
    .page-img-upload {
        margin-top: px2rem(10);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
