@import "../config/config";

.page-item {
    margin-bottom: 10px;
    .g-input-text {
        min-width: px2px(120);
        text-align: right;
        justify-content: flex-end;
    }
}

.page-wrap {
    background: #ffffff;
    border: 1px solid $g-border-color-default;
    border-left: none;
    border-right: none;
    display: flex;
    .page-left {
        padding: 10px;
        min-width: px2px(120);
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-right: 1px solid $g-border-color-default;
    }
    .page-right {
        padding: 10px;
    }
}
