@import "../config/config";

.page-item {
    margin-bottom: 10px;
}

.page-guide-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: px2px(40);
    padding: 0 px2px(10);
    .page-guide-item {
        display: flex;
        align-items: center;
    }
}
