<!-- 字符编码 -->
<meta charset="UTF-8">
<!-- 搜索引擎抓取 -->
<meta name="robots" content="index,follow">
<!-- ie以最高级模式渲染文档 -->
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- 窗口宽度等于设备宽度以及禁止缩放 -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!-- 是否需要默认的工具栏和菜单栏(针对苹果手机,默认值yes,需要) -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- 控制状态栏的样式(针对苹果手机,黑色) -->
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!-- 禁止把数字转化为电话号码(针对苹果手机) -->
<meta name="format-detection" content="telephone=no">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 禁止浏览器自动放大字体(针对UC手机) -->
<meta name="wap-font-scale" content="no">
<!-- qq强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- 页面关键词 -->
<meta name="keywords" content="zhouhuafei,周华飞">
<!-- 页面描述 -->
<meta name="description" content="zhouhuafei,周华飞">
<!-- 页面作者 -->
<meta name="author" content="zhouhuafei,周华飞,1123486116@qq.com">
<!-- 页面标题 -->
<title><%= dataInfo.title %></title>
<!-- 网站logo -->
<link rel="shortcut icon" href="../../../../../dist-no-delete-assets-no-cache/favicon.ico">
<!-- swiper -->
<link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.min.css?v=<%= dataInfo.staticV %>">
<!-- vConsole -->
<% if(dataInfo.isProduction !== true){ %>
<script src="/bower_components/vConsole/dist/vconsole.min.js?v=<%= dataInfo.staticV %>"></script>
<% } %>
<script>
    /*
    * 代码是用来解决retina屏(高倍屏)，1px的边框看起来更粗，其实是更清晰。让1px缩放对应倍数，看起来会更细一点。
    * 原因是因为设备像素比为2或者3甚至更高导致的。2倍情况下，1像素的设备独立像素占2像素的设备物理像素，所以看起来更粗。（更清晰）。其实还是1px。
    * 2倍屏的情况下，加上0.5倍缩放之后，1css像素占0.5像素的设备独立像素，等同于占1像素的设备物理像素，所以看起来会变细。
    * 如果当前页面上有其他站点传入的带px的数据，则需要把window.devicePixelRatio设置成1。否则要处理dpr带来的css像素缩放问题。
    * 因为和边框相比，防止数据呈现异常是更重要的事。
    * 如果设计师不在意这1px的呈现方式，则这段代码根本就没有添加的必要。
    * */
    /*
    (function () {
        var viewport = document.querySelector('meta[name=viewport]');
        var dpr = window.devicePixelRatio;
        var scale = 1 / dpr;
        var content = 'width=device-width,user-scalable=no,initial-scale=' + scale + ',maximum-scale=' + scale + ',minimum-scale=' + scale;
        document.querySelector('html').setAttribute('data-dpr', dpr);
        viewport.setAttribute('content', content);
    })();
    */
</script>
