@import "../config/config";

// 输入框
input.g-input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    color: inherit;
    font-size: inherit;
    border-radius: inherit;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    height: px2rem(40);
    padding: 0 px2rem(10);
    background: #ffffff;
    border: px2rem(1) solid $g-border-color-default;
    min-width: px2rem(50);
}
